pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em
}

code.hljs {
    padding: 3px 5px
}

.hljs {
    background:	#1E1E1E;
    color: #D4D4D4
}

.hljs-comment {
    color: #6A9955
}

.hljs-tag {
    color:#808080
}

.hljs-tag .hljs-attr {
    color:#9CDCFE
}

.hljs-tag .hljs-name {
    color: #569CD6;
    font-weight: 300
}

.hljs-deletion,.hljs-number,.hljs-quote,.hljs-selector-class,.hljs-selector-id,.hljs-string,.hljs-template-tag,.hljs-type {
    color:#CE9178
}

.hljs-emphasis {
    font-style: italic
}

.hljs-meta,.hljs-title.class_  {
    color: #4EC9B0;
}

.hljs-title.function_,.hljs-built_in,.hljs-number {
    color: #DCDCAA;
}

.hljs-keyword,.hljs-variable.language_,.hljs-literal,.hljs-params,.hljs-punctuation {
    color: #569CD6
}
