pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}

code.hljs {
  padding: 3px 5px;
}

.hljs {
  background: #0f172a;
  color: #d4d4d4;
}

.hljs-comment {
  color: #6a9955;
}

.hljs-tag {
  color: #808080;
}

.hljs-tag .hljs-attr {
  color: #9cdcfe;
}

.hljs-tag .hljs-name {
  color: #569cd6;
  font-weight: 300;
}

.hljs-deletion,
.hljs-number,
.hljs-quote,
.hljs-selector-class,
.hljs-selector-id,
.hljs-string,
.hljs-template-tag,
.hljs-type {
  color: #ce9178;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-meta,
.hljs-title.class_,
.hljs-variable.constant_ {
  color: #4ec9b0;
}

.hljs-title.function_,
.hljs-built_in,
.hljs-number {
  color: #dcdcaa;
}

.hljs-keyword,
.hljs-variable.language_,
.hljs-literal,
.hljs-params,
.hljs-punctuation {
  color: #569cd6;
}
