<div class="relative">
  <button (click)="toggleTheme()" tw-button variant="secondary" size="xs" class="fixed bottom-1 right-1">Switch
    theme</button>
</div>

<!-- Buttons -->
<div class="grid place-items-center sm:flex sm:flex-wrap justify-center gap-8 p-8">
  <button tw-button size="xs">Subscribe</button>
  <button tw-button size="sm">Subscribe</button>
  <button tw-button size="md">Subscribe</button>
  <button tw-button size="lg">Subscribe</button>
  <button tw-button size="xl">Subscribe</button>
</div>
<div class="grid place-items-center sm:flex sm:flex-wrap justify-center gap-8 p-8">
  <button tw-button variant="secondary" size="xs">Subscribe now</button>
  <button tw-button variant="secondary" size="sm">Subscribe now</button>
  <button tw-button variant="secondary" size="md">Subscribe now</button>
  <button tw-button variant="secondary" size="lg">Subscribe now</button>
  <button tw-button variant="secondary" size="xl">Subscribe now</button>
</div>

<div class="grid place-items-center sm:flex sm:flex-wrap justify-center gap-8 p-8">
  <button tw-button variant="tonal" size="xs">Subscribe</button>
  <button tw-button variant="tonal" size="sm">Subscribe</button>
  <button tw-button variant="tonal" size="md">Subscribe</button>
  <button tw-button variant="tonal" size="lg">Subscribe</button>
  <button tw-button variant="tonal" size="xl">Subscribe</button>
</div>

<div class="grid place-items-center sm:flex sm:flex-wrap justify-center gap-8 p-8">
  <button tw-button variant="text" size="xs">Subscribe</button>
  <button tw-button variant="text" size="sm">Subscribe</button>
  <button tw-button variant="text" size="md">Subscribe</button>
  <button tw-button variant="text" size="lg">Subscribe</button>
  <button tw-button variant="text" size="xl">Subscribe</button>
</div>
<!-- Buttons end -->

<!-- Avatars -->
<div class="grid place-items-center sm:flex sm:flex-wrap justify-center gap-8 p-8">
  <div class="flex -space-x-1">
    <img tw-avatar size="xs" class="ring-2 ring-white" alt="" fetchpriority="high"
      src="https://images.unsplash.com/photo-1618085219724-c59ba48e08cd?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
    <img tw-avatar size="xs" class="ring-2 ring-white" alt=""
      src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
    <img tw-avatar size="xs" class="ring-2 ring-white" alt=""
      src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=256&h=256&q=80">
    <img tw-avatar size="xs" class="ring-2 ring-white" alt=""
      src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
  </div>

  <div class="flex -space-x-1">
    <img tw-avatar size="md" class="ring-2 ring-white" alt="" fetchpriority="high"
      src="https://images.unsplash.com/photo-1618085219724-c59ba48e08cd?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
    <img tw-avatar size="md" class="ring-2 ring-white" alt=""
      src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
    <img tw-avatar size="md" class="ring-2 ring-white" alt=""
      src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=256&h=256&q=80">
    <img tw-avatar size="md" class="ring-2 ring-white" alt=""
      src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
  </div>

  <div class="flex -space-x-1">
    <img tw-avatar size="xl" class="ring-2 ring-white" alt="" fetchpriority="high"
      src="https://images.unsplash.com/photo-1618085219724-c59ba48e08cd?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
    <img tw-avatar size="xl" class="ring-2 ring-white" alt=""
      src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
    <img tw-avatar size="xl" class="ring-2 ring-white" alt=""
      src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=256&h=256&q=80">
    <img tw-avatar size="xl" class="ring-2 ring-white" alt=""
      src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
  </div>
</div>

<!-- Badges -->
<div class="grid place-items-center sm:flex sm:flex-wrap justify-center gap-8 p-8">
  <tw-badge class="text-slate-500 bg-slate-500/10">Badge</tw-badge>
  <tw-badge class="text-blue-500 bg-blue-500/10">Badge</tw-badge>
  <tw-badge class="text-red-500 bg-red-500/10">Badge</tw-badge>
  <tw-badge class="text-yellow-500 bg-yellow-500/10">Badge</tw-badge>
</div>

<div class="grid place-items-center sm:flex sm:flex-wrap justify-center gap-8 p-8">
  <tw-badge class="text-slate-500 bg-slate-500/10 rounded-full">Badge</tw-badge>
  <tw-badge class="text-blue-500 bg-blue-500/10 rounded-full">Badge</tw-badge>
  <tw-badge class="text-red-500 bg-red-500/10 rounded-full">Badge</tw-badge>
  <tw-badge class="text-yellow-500 bg-yellow-500/10 rounded-full">Badge</tw-badge>
</div>
<!-- Badges end -->

<!-- Button group -->
<div class="grid place-items-center sm:flex sm:flex-wrap justify-center gap-8 p-8">
  <div tw-button-group>
    <button tw-button variant="secondary">Days</button>
    <button tw-button variant="secondary">Months</button>
    <button tw-button variant="secondary">Years</button>
  </div>
</div>

<div class="grid place-items-center sm:flex sm:flex-wrap justify-center gap-8 p-8">
  <div tw-button-group class="rounded-full">
    <button tw-button variant="secondary">Days</button>
    <button tw-button variant="secondary">Months</button>
    <button tw-button variant="secondary">Years</button>
  </div>
</div>

<div class="grid place-items-center sm:flex sm:flex-wrap justify-center gap-8 p-8">
  <div tw-button-group>
    <button tw-button size="sm" variant="secondary">
      <tw-icon size="sm" key="chevron-left" class="text-slate-500" />
    </button>
    <button tw-button size="sm" variant="secondary">
      <tw-icon size="sm" key="chevron-right" class="text-slate-500" />
    </button>
  </div>
</div>
<!-- Button group end -->

<!-- Icon Buttons -->
<div class="grid place-items-center sm:flex sm:flex-wrap justify-center gap-8 p-8">
  <!-- Secondary -->
  <button type="button" tw-button size="xs" fab="true" variant="secondary" class="p-1.5">
    <tw-icon size="xs" key="language" />
  </button>
  <button type="button" tw-button size="sm" fab="true" variant="secondary" class="p-2">
    <tw-icon size="sm" key="language" />
  </button>
  <button type="button" tw-button size="md" fab="true" variant="secondary" class="p-2.5">
    <tw-icon size="md" key="language" />
  </button>
  <button type="button" tw-button size="lg" fab="true" variant="secondary" class="p-3">
    <tw-icon size="lg" key="language" />
  </button>
  <button type="button" tw-button size="xl" fab="true" variant="secondary" class="p-3.5">
    <tw-icon size="xl" key="language" />
  </button>
</div>
<div class="grid place-items-center sm:flex sm:flex-wrap justify-center gap-8 p-8">
  <!-- Tonal -->
  <button type="button" tw-button size="xs" fab="true" variant="tonal" class="p-1.5">
    <tw-icon size="xs" key="language" />
  </button>
  <button type="button" tw-button size="sm" fab="true" variant="tonal" class="p-2">
    <tw-icon size="sm" key="language" />
  </button>
  <button type="button" tw-button size="md" fab="true" variant="tonal" class="p-2.5">
    <tw-icon size="md" key="language" />
  </button>
  <button type="button" tw-button size="lg" fab="true" variant="tonal" class="p-3">
    <tw-icon size="lg" key="language" />
  </button>
  <button type="button" tw-button size="xl" fab="true" variant="tonal" class="p-3.5">
    <tw-icon size="xl" key="language" />
  </button>
</div>
<div class="grid place-items-center sm:flex sm:flex-wrap justify-center gap-8 p-8">
  <!-- Primary -->
  <button type="button" tw-button size="xs" fab="true" class="p-1.5">
    <tw-icon size="xs" key="language" />
  </button>
  <button type="button" tw-button size="sm" fab="true" class="p-2">
    <tw-icon size="sm" key="language" />
  </button>
  <button type="button" tw-button size="md" fab="true" class="p-2.5">
    <tw-icon size="md" key="language" />
  </button>
  <button type="button" tw-button size="lg" fab="true" class="p-3">
    <tw-icon size="lg" key="language" />
  </button>
  <button type="button" tw-button size="xl" fab="true" class="p-3.5">
    <tw-icon size="xl" key="language" />
  </button>
</div>
<!-- Icon Buttons end -->

<!-- Dropdowns -->
<div class="grid place-items-center sm:flex sm:flex-wrap justify-center gap-8 p-8 mb-32">
  <div>
    <button tw-button size="sm" variant="secondary" (click)="dropdown.toggle()">
      Options <tw-icon size="sm" key="chevron-down" class="text-slate-500" />
    </button>
    <div class="relative">
      <ul tw-dropdown #dropdown [opened]="true" (click)="dropdown.close()" class="*:px-4 *:py-2">
        <li class="hover:bg-gray-200/70 hover:dark:bg-gray-700/70"> Account settings </li>
        <li class="hover:bg-gray-200/70 hover:dark:bg-gray-700/70"> Support </li>
        <li class="hover:bg-gray-200/70 hover:dark:bg-gray-700/70"> License </li>
        <li class="hover:bg-gray-200/70 hover:dark:bg-gray-700/70"> Sign out </li>
      </ul>
    </div>
  </div>
</div>

<div class="grid place-items-center sm:flex sm:flex-wrap justify-center gap-8 p-8 mb-64">
  <div>
    <button tw-button size="sm" variant="secondary" (click)="dropdown2.toggle()">
      Options <tw-icon size="sm" key="chevron-down" class="text-slate-500" />
    </button>
    <div class="relative">
      <tw-dropdown #dropdown2 [opened]="true" (click)="dropdown2.close()"
        class="py-0 *:py-1 divide-y divide-gray-200/70 dark:divide-gray-700/50">
        <ul class="*:px-4 *:py-2">
          <li class="hover:bg-gray-200/70 dark:hover:bg-gray-700/70">Edit</li>
          <li class="hover:bg-gray-200/70 dark:hover:bg-gray-700/70">Duplicate</li>
        </ul>
        <ul class="*:px-4 *:py-2">
          <li class="hover:bg-gray-200/70 dark:hover:bg-gray-700/70">Archive</li>
          <li class="hover:bg-gray-200/70 dark:hover:bg-gray-700/70">Move</li>
        </ul>
        <ul class="*:px-4 *:py-2">
          <li class="hover:bg-gray-200/70 dark:hover:bg-gray-700/70">Share</li>
          <li class="hover:bg-gray-200/70 dark:hover:bg-gray-700/70">Add to favorites</li>
        </ul>
        <ul class="*:px-4 *:py-2">
          <li class="hover:bg-gray-200/70 dark:hover:bg-gray-700/70">Delete</li>
        </ul>
      </tw-dropdown>
    </div>
  </div>
</div>

<div class="grid place-items-center sm:flex sm:flex-wrap justify-center gap-8 p-8 mb-96">
  <div>
    <button tw-button size="sm" variant="secondary" (click)="dropdown3.toggle()">
      Options <tw-icon size="sm" key="chevron-down" class="text-slate-500" />
    </button>
    <div class="relative">
      <tw-dropdown #dropdown3 [opened]="true" (click)="dropdown3.close()"
        class="py-0 *:py-1 divide-y divide-gray-200/70 dark:divide-gray-700/50">
        <ul class="*:px-3 *:py-2">
          <li class="hover:bg-gray-200/70 dark:hover:bg-gray-700/50 w-full inline-flex items-center gap-3">
            <tw-icon size="sm" class="opacity-50" key="pencil-square" />
            Edit
          </li>
          <li class="hover:bg-gray-200/70 dark:hover:bg-gray-700/50 w-full inline-flex items-center gap-3">
            <tw-icon size="sm" class="opacity-50" key="document-duplicate" />
            Duplicate
          </li>
        </ul>
        <ul class="*:px-3 *:py-2">
          <li class="hover:bg-gray-200/70 dark:hover:bg-gray-700/50 w-full inline-flex items-center gap-3">
            <tw-icon size="sm" class="opacity-50" key="archive-box" />
            Archive
          </li>
          <li class="hover:bg-gray-200/70 dark:hover:bg-gray-700/50 w-full inline-flex items-center gap-3">
            <tw-icon size="sm" class="opacity-50" key="arrow-right-circle" />
            Move
          </li>
        </ul>
        <ul class="*:px-3 *:py-2">
          <li class="hover:bg-gray-200/70 dark:hover:bg-gray-700/50 w-full inline-flex items-center gap-3">
            <tw-icon size="sm" class="opacity-50" key="share" />
            Share
          </li>
          <li class="hover:bg-gray-200/70 dark:hover:bg-gray-700/50 w-full inline-flex items-center gap-3">
            <tw-icon size="sm" class="opacity-50" key="star" />
            Add to favorites
          </li>
        </ul>
        <ul class="*:px-3 *:py-2">
          <li class="hover:bg-gray-200/70 dark:hover:bg-gray-700/50 w-full inline-flex items-center gap-3">
            <tw-icon size="sm" class="opacity-50" key="strash" />
            Delete
          </li>
        </ul>
      </tw-dropdown>
    </div>
  </div>
</div>
<!-- Dropdowns end -->

<!-- Toggles -->
<div class="grid place-items-center sm:flex sm:flex-wrap justify-center gap-8 p-8">
  <tw-toggle [checked]="true" />
  <tw-toggle class="w-16" />
  <tw-toggle class="w-20" />
</div>

<div class="grid place-items-center sm:flex sm:flex-wrap justify-center gap-8 p-8">
  <tw-toggle class="ring-offset-2 has-[:focus]:ring-2 has-[:focus]:ring-blue-600 active:ring-2 active:ring-blue-600" />
  <tw-toggle
    class="w-16 ring-offset-2 has-[:focus]:ring-2 has-[:focus]:ring-blue-600 active:ring-2 active:ring-blue-600" />
  <tw-toggle
    class="w-20 ring-offset-2 has-[:focus]:ring-2 has-[:focus]:ring-blue-600 active:ring-2 active:ring-blue-600" />
</div>

<div class="grid place-items-center sm:flex sm:flex-wrap justify-center gap-8 p-8">
  <tw-toggle #toggle
    class="has-[:checked]:bg-blue-600 ring-offset-2 has-[:focus]:ring-2 has-[:focus]:ring-blue-600 active:ring-offset-2 active:ring-2 active:ring-blue-600">
    <tw-icon *ngIf="toggle.isChecked()" class="text-blue-600" size="xs" key="check" />
    <tw-icon *ngIf="!toggle.isChecked()" class="text-gray-300" size="xs" key="close" />
  </tw-toggle>
</div>

<div class="grid place-items-center sm:flex sm:flex-wrap justify-center gap-8 p-8">
  <tw-toggle class="rounded-sm *:rounded-sm" />
  <tw-toggle class="w-16 rounded-sm *:rounded-sm" />
  <tw-toggle class="w-20 rounded-sm *:rounded-sm" />
</div>

<div class="grid place-items-center sm:flex sm:flex-wrap justify-center gap-8 p-8">
  <tw-toggle #toggle2
    class="rounded-sm *:rounded-sm has-[:checked]:bg-blue-600 ring-offset-2 has-[:focus]:ring-2 has-[:focus]:ring-blue-600 active:ring-offset-2 active:ring-2 active:ring-blue-600">
    <tw-icon *ngIf="toggle2.isChecked()" class="text-blue-600" size="xs" key="check" />
    <tw-icon *ngIf="!toggle2.isChecked()" class="text-gray-300" size="xs" key="close" />
  </tw-toggle>
</div>

<div class="grid place-items-center sm:flex sm:flex-wrap justify-center gap-8 p-8">
  <div>
    <label for="price" class="block text-sm mb-2 font-medium">Price</label>
    <div class="relative">
      <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
        <span class="text-gray-600 dark:text-gray-400 sm:text-sm">$</span>
      </div>
      <!-- Input -->
      <input tw-input id="price" placeholder="0.0"
        class="sm:w-80 pl-7 pr-16 placeholder:text-gray-400 placeholder:dark:text-gray-600" />
      <div class="absolute inset-y-0 right-0 flex items-center">
        <label for="currency" class="sr-only">Currency</label>
        <select id="currency" name="currency"
          class="outline-none h-full rounded-md border-0 bg-transparent py-0 pl-2 pr-7 *:dark:text-slate-800 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm">
          <option>USD</option>
          <option>CAD</option>
          <option>EUR</option>
        </select>
      </div>
    </div>
  </div>
</div>

<div class="grid place-items-center sm:flex sm:flex-wrap justify-center gap-8 p-8">
  <!-- Combobox -->
  <div tw-combobox #combobox [opened]="true" (valueSelected)="saveValue($event)" [isMultiselect]="false"
    (valueChanged)="filter($event)" (open)="reset()" class="sm:w-80">
    <!-- Label -->
    <label for="search" class="block text-sm mb-2 font-medium"> Quick search </label>
    <!-- Input -->
    <input tw-input id="search" [formControl]="combobox.control()" class="pr-10" />
    <!-- Button -->
    <button tw-button variant="text" size="sm"
      class="absolute inset-y-0 -right-1 rounded-r-md inline-flex users-center opacity-50">
      <tw-icon *ngIf="combobox.isOpened() && combobox.isValid" (click)="combobox.reset()" size="sm" key="x-mark" />
      <tw-icon (click)="combobox.toggle()" size="sm" key="chevron-up-down" />
    </button>
    <!-- Dropdown -->
    <tw-dropdown class="shadow-lg w-full max-h-56 overflow-y-auto">
      @for (user of users1; track $index) {
      <div tw-combobox-item #item [value]="user.name" [combobox]="combobox"
        class="aria-selected:text-white aria-selected:bg-blue-600 aria-selected:font-bold">
        <tw-icon *ngIf="item.isSelected" class="my-auto absolute right-3" key="check" />
        <span>{{ user.name }}</span>
      </div>
      }
    </tw-dropdown>
  </div>
</div>
<div class="grid place-items-center sm:flex sm:flex-wrap justify-center gap-8 p-8">

</div>
<div class="grid place-items-center sm:flex sm:flex-wrap justify-center gap-8 p-8">

</div>
<div class="grid place-items-center sm:flex sm:flex-wrap justify-center gap-8 p-8">

</div>
<div class="grid place-items-center sm:flex sm:flex-wrap justify-center gap-8 p-8">

</div>
<div class="mb-96"></div>
