<div class="grid place-items-center sm:flex sm:flex-wrap justify-center gap-8 p-8">
  <button tw-button size="xs">Subscribe</button>
  <button tw-button size="sm">Subscribe</button>
  <button tw-button size="md">Subscribe</button>
  <button tw-button size="lg">Subscribe</button>
  <button tw-button size="xl">Subscribe</button>
</div>
<div class="grid place-items-center sm:flex sm:flex-wrap justify-center gap-8 p-8">
  <button tw-button variant="secondary" size="xs">Subscribe now</button>
  <button tw-button variant="secondary" size="sm">Subscribe now</button>
  <button tw-button variant="secondary" size="md">Subscribe now</button>
  <button tw-button variant="secondary" size="lg">Subscribe now</button>
  <button tw-button variant="secondary" size="xl">Subscribe now</button>
</div>

<div class="grid place-items-center sm:flex sm:flex-wrap justify-center gap-8 p-8">
  <button tw-button variant="tonal" size="xs">Subscribe</button>
  <button tw-button variant="tonal" size="sm">Subscribe</button>
  <button tw-button variant="tonal" size="md">Subscribe</button>
  <button tw-button variant="tonal" size="lg">Subscribe</button>
  <button tw-button variant="tonal" size="xl">Subscribe</button>
</div>

<div class="grid place-items-center sm:flex sm:flex-wrap justify-center gap-8 p-8">
  <button tw-button variant="text" size="xs">Subscribe</button>
  <button tw-button variant="text" size="sm">Subscribe</button>
  <button tw-button variant="text" size="md">Subscribe</button>
  <button tw-button variant="text" size="lg">Subscribe</button>
  <button tw-button variant="text" size="xl">Subscribe</button>
</div>

<div class="relative">
  <button (click)="toggleTheme()" tw-button variant="secondary" size="xs" class="fixed bottom-1 right-1">Switch
    theme</button>
</div>
