<!-- Simple with gray footer -->
<!-- <tw-modal-dialog [open]="open" (click)="toggleDialog()" className="divide-y divide-gray-200 dark:divide-neutral-900">
  <tw-dialog-panel>
    <tw-dialog-icon className="text-red-600">
      <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
      </svg>
    </tw-dialog-icon>
    <tw-dialog-content>
      <h3 class="text-base font-semibold leading-6" id="modal-title">
        Deactivate account
      </h3>
      <p class="text-sm text-gray-500 dark:text-gray-400">
        Are you sure you want to deactivate your account? All of your data will be permanently removed. This action
        cannot be undone.
      </p>
    </tw-dialog-content>
  </tw-dialog-panel>
  <tw-dialog-actions className="dark:bg-neutral-900/20">
    <tw-button className="bg-red-600 w-full">Deactivate</tw-button>
    <tw-button (click)="cancel()" variant="secondary" className="w-full">Cancel</tw-button>
  </tw-dialog-actions>
</tw-modal-dialog> -->

<!-- Centered with single action -->
<!-- <tw-modal-dialog [open]="open" (click)="toggleDialog()">
  <tw-dialog-panel className="sm:-">
    <tw-dialog-icon className="text-green-600 bg-green-600/15">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
        <path fill-rule="evenodd"
          d="M19.916 4.626a.75.75 0 0 1 .208 1.04l-9 13.5a.75.75 0 0 1-1.154.114l-6-6a.75.75 0 0 1 1.06-1.06l5.353 5.353 8.493-12.74a.75.75 0 0 1 1.04-.207Z"
          clip-rule="evenodd" />
      </svg>
    </tw-dialog-icon>
    <tw-dialog-content className="sm:-">
      <h3 class="text-base font-semibold leading-6" id="modal-title">
        Payment successful
      </h3>
      <p class="text-sm text-gray-500 dark:text-gray-400">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur amet labore.
      </p>
    </tw-dialog-content>
  </tw-dialog-panel>
  <tw-dialog-actions className="sm:-">
    <tw-button className="bg-indigo-700 w-full">Go back to dashboard</tw-button>
  </tw-dialog-actions>
</tw-modal-dialog> -->

<!-- Centered with wide buttons -->
<!-- <tw-modal-dialog [open]="open" (click)="toggleDialog()">
  <tw-dialog-panel className="sm:-">
    <tw-dialog-icon className="text-green-600 bg-green-600/15">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
        <path fill-rule="evenodd"
          d="M19.916 4.626a.75.75 0 0 1 .208 1.04l-9 13.5a.75.75 0 0 1-1.154.114l-6-6a.75.75 0 0 1 1.06-1.06l5.353 5.353 8.493-12.74a.75.75 0 0 1 1.04-.207Z"
          clip-rule="evenodd" />
      </svg>
    </tw-dialog-icon>
    <tw-dialog-content className="sm:-">
      <h3 class="text-base font-semibold leading-6" id="modal-title">
        Payment successful
      </h3>
      <p class="text-sm text-gray-500 dark:text-gray-400">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius aliquam laudantium explicabo pariatur iste dolorem animi
        vitae error totam. At sapiente aliquam accusamus facere veritatis.
      </p>
    </tw-dialog-content>
  </tw-dialog-panel>
  <tw-dialog-actions>
    <tw-button className="bg-indigo-700 w-full sm:w-56">Deactivate</tw-button>
    <tw-button (click)="cancel()" variant="secondary" className="w-full">Cancel</tw-button>
  </tw-dialog-actions>
</tw-modal-dialog> -->

<!-- Simple alert -->
<!-- <tw-modal-dialog [open]="open" (click)="toggleDialog()">
  <tw-dialog-panel>
    <tw-dialog-icon className="text-red-600">
      <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
      </svg>
    </tw-dialog-icon>
    <tw-dialog-content>
      <h3 class="text-base font-semibold leading-6" id="modal-title">
        Deactivate account
      </h3>
      <p class="text-sm text-gray-500 dark:text-gray-400">
        Are you sure you want to deactivate your account? All of your data will be permanently removed. This action
        cannot be undone.
      </p>
    </tw-dialog-content>
  </tw-dialog-panel>
  <tw-dialog-actions>
    <tw-button className="bg-red-600 w-full">Deactivate</tw-button>
    <tw-button (click)="cancel()" variant="secondary" className="w-full">Cancel</tw-button>
  </tw-dialog-actions>
</tw-modal-dialog> -->

<!-- Simple with dismiss button -->
<tw-modal-dialog [open]="open">
  <tw-dialog-panel>
    <tw-dialog-icon className="text-red-600">
      <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
      </svg>
    </tw-dialog-icon>
    <tw-dialog-content>
      <h3 class="text-base font-semibold leading-6" id="modal-title">
        Deactivate account
      </h3>
      <p class="text-sm text-gray-500 dark:text-gray-400">
        Are you sure you want to deactivate your account? All of your data will be permanently removed. This action
        cannot be undone.
      </p>
    </tw-dialog-content>
    <tw-button variant="text" (click)="toggleDialog()" className="hidden sm:block absolute top-2 right-0">
      <svg class="size-6 text-gray-500 hover:text-gray-600 dark:hover:text-gray-400" xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24" fill="currentColor">
        <path fill-rule="evenodd"
          d="M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z"
          clip-rule="evenodd" />
      </svg>
    </tw-button>
  </tw-dialog-panel>
  <tw-dialog-actions>
    <tw-button (click)="toggleDialog()" className="bg-red-600 w-full">Deactivate</tw-button>
    <tw-button (click)="cancel()" variant="secondary" className="w-full">Cancel</tw-button>
  </tw-dialog-actions>
</tw-modal-dialog>
