<div
  class="container sm:max-w-lg md:max-w-xl mx-auto p-6 text-gray-700 dark:text-gray-200 *:gap-4 *:border-black/[.10] *:dark:border-white/[.10]">

  <h1 class="text-3xl border-none font-extrabold my-8 mt-16">
    Modal Dialogs
  </h1>
  <p>Use these Tailwind CSS modal dialog components to create pop-up boxes for things like alerts, notifications, or confirmation prompts.</p>
  <p class="text-xs my-2 font-semibold">NOTE: Click on the cancel button to stop the dialog reopening when needed.</p>

  <h2 class="text-lg font-semibold mt-12">
    Simple notification dialog
  </h2>
  <div class="flex border justify-center items-end m-6 p-6 mx-auto rounded-xl">
    <tw-button variant="secondary" (click)="toggleDialog(6)" className="rounded-full">Open dialog</tw-button>
    <tw-modal-dialog [open]="open(6)" (click)="close(6)" className="rounded-3xl">
      <tw-dialog-panel>
        <tw-dialog-content>
          <h3 class="text-base font-semibold leading-6" id="modal-title">
            Out of stock
          </h3>
          <p class="text-sm text-gray-500 dark:text-gray-400 text-pretty">
            The item in your cart is no longer available
          </p>
        </tw-dialog-content>
      </tw-dialog-panel>
      <tw-dialog-actions>
        <tw-button className="w-full rounded-3xl">OK</tw-button>
      </tw-dialog-actions>
    </tw-modal-dialog>
  </div>

  <h2 class="text-lg font-semibold mt-20">
    Simple dialog with icon
  </h2>
  <div class="flex border justify-center items-end m-6 p-6 mx-auto rounded-xl">
    <tw-button variant="secondary" (click)="toggleDialog(0)" className="rounded-full">Open dialog</tw-button>
    <tw-modal-dialog [open]="open(0)" (click)="close(0)">
      <tw-dialog-panel>
        <tw-dialog-icon className="text-red-600">
          <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
          </svg>
        </tw-dialog-icon>
        <tw-dialog-content>
          <h3 class="text-base font-semibold leading-6" id="modal-title">
            Deactivate account
          </h3>
          <p class="text-sm text-gray-500 dark:text-gray-400">
            Are you sure you want to deactivate your account? All of your data will be permanently removed. This action
            cannot be undone.
          </p>
        </tw-dialog-content>
      </tw-dialog-panel>
      <tw-dialog-actions>
        <tw-button className="bg-red-600 w-full">Deactivate</tw-button>
        <tw-button variant="secondary" className="w-full">Cancel</tw-button>
      </tw-dialog-actions>
    </tw-modal-dialog>
  </div>

  <h2 class="text-lg font-semibold mt-20">
    Simple dialog with gray footer
  </h2>
  <div class="flex border justify-center items-end m-6 p-6 mx-auto rounded-xl">
    <tw-button variant="secondary" (click)="toggleDialog(1)" className="rounded-full">Open dialog</tw-button>
    <tw-modal-dialog [open]="open(1)" className="divide-y divide-gray-200 dark:divide-neutral-900">
      <tw-dialog-panel>
        <tw-dialog-icon className="text-red-600">
          <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
          </svg>
        </tw-dialog-icon>
        <tw-dialog-content>
          <h3 class="text-base font-semibold leading-6" id="modal-title">
            Deactivate account
          </h3>
          <p class="text-sm text-gray-500 dark:text-gray-400">
            Are you sure you want to deactivate your account? All of your data will be permanently removed. This action
            cannot be undone.
          </p>
        </tw-dialog-content>
      </tw-dialog-panel>
      <tw-dialog-actions className="bg-neutral-100 dark:bg-neutral-900/20">
        <tw-button className="bg-red-600 w-full">Deactivate</tw-button>
        <tw-button (click)="close(1)" variant="secondary" className="w-full">Cancel</tw-button>
      </tw-dialog-actions>
    </tw-modal-dialog>
  </div>

  <h2 class="text-lg font-semibold mt-20">
    Centered dialog with single action
  </h2>
  <div class="flex border justify-center items-end m-6 p-6 mx-auto rounded-xl">
    <tw-button variant="secondary" (click)="toggleDialog(2)" className="rounded-full">Open dialog</tw-button>
    <tw-modal-dialog [open]="open(2)" (click)="close(2)">
      <tw-dialog-panel className="sm:-">
        <tw-dialog-icon className="text-green-600 bg-green-600/15">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
            <path fill-rule="evenodd"
              d="M19.916 4.626a.75.75 0 0 1 .208 1.04l-9 13.5a.75.75 0 0 1-1.154.114l-6-6a.75.75 0 0 1 1.06-1.06l5.353 5.353 8.493-12.74a.75.75 0 0 1 1.04-.207Z"
              clip-rule="evenodd" />
          </svg>
        </tw-dialog-icon>
        <tw-dialog-content className="sm:-">
          <h3 class="text-base font-semibold leading-6" id="modal-title">
            Payment successful
          </h3>
          <p class="text-sm text-gray-500 dark:text-gray-400">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Consequatur amet labore.
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </p>
        </tw-dialog-content>
      </tw-dialog-panel>
      <tw-dialog-actions className="sm:-">
        <tw-button className="bg-indigo-700 w-full">Go back to dashboard</tw-button>
      </tw-dialog-actions>
    </tw-modal-dialog>
  </div>

  <h2 class="text-lg font-semibold mt-20">
    Centered dialog with wide buttons
  </h2>
  <div class="flex border justify-center items-end m-6 p-6 mx-auto rounded-xl">
    <tw-button variant="secondary" (click)="toggleDialog(3)" className="rounded-full">Open dialog</tw-button>
    <tw-modal-dialog [open]="open(3)" (click)="close(3)">
      <tw-dialog-panel className="sm:-">
        <tw-dialog-icon className="text-green-600 bg-green-600/15">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
            <path fill-rule="evenodd"
              d="M19.916 4.626a.75.75 0 0 1 .208 1.04l-9 13.5a.75.75 0 0 1-1.154.114l-6-6a.75.75 0 0 1 1.06-1.06l5.353 5.353 8.493-12.74a.75.75 0 0 1 1.04-.207Z"
              clip-rule="evenodd" />
          </svg>
        </tw-dialog-icon>
        <tw-dialog-content className="sm:-">
          <h3 class="text-base font-semibold leading-6" id="modal-title">
            Payment successful
          </h3>
          <p class="text-sm text-gray-500 dark:text-gray-400">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius aliquam laudantium explicabo pariatur iste
            dolorem animi
            vitae error totam. At sapiente aliquam accusamus facere veritatis.
          </p>
        </tw-dialog-content>
      </tw-dialog-panel>
      <tw-dialog-actions>
        <tw-button className="bg-indigo-700 w-full sm:w-56">Deactivate</tw-button>
        <tw-button variant="secondary" className="w-full sm:w-56">Cancel</tw-button>
      </tw-dialog-actions>
    </tw-modal-dialog>
  </div>

  <h2 class="text-lg font-semibold mt-20">
    Simple dialog with dismiss button
  </h2>
  <div class="flex border justify-center items-end m-6 p-6 mx-auto rounded-xl">
    <tw-button variant="secondary" (click)="toggleDialog(4)" className="rounded-full">Open dialog</tw-button>
    <tw-modal-dialog [open]="open(4)">
      <tw-dialog-panel>
        <tw-dialog-icon className="text-red-600">
          <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
          </svg>
        </tw-dialog-icon>
        <tw-dialog-content>
          <h3 class="text-base font-semibold leading-6" id="modal-title">
            Deactivate account
          </h3>
          <p class="text-sm text-gray-500 dark:text-gray-400">
            Are you sure you want to deactivate your account? All of your data will be permanently removed. This action
            cannot be undone.
          </p>
        </tw-dialog-content>
        <tw-button variant="text" (click)="toggleDialog(4)" className="hidden sm:block absolute top-2 right-0">
          <svg class="size-6 text-gray-500 hover:text-gray-600 dark:hover:text-gray-400"
            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
            <path fill-rule="evenodd"
              d="M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z"
              clip-rule="evenodd" />
          </svg>
        </tw-button>
      </tw-dialog-panel>
      <tw-dialog-actions>
        <tw-button (click)="toggleDialog(4)" className="bg-red-600 w-full">Deactivate</tw-button>
        <tw-button (click)="close(4)" variant="secondary" className="w-full">Cancel</tw-button>
      </tw-dialog-actions>
    </tw-modal-dialog>
  </div>

  <h2 class="text-lg font-semibold mt-20">
    Dialog with header, scrollable content and actions
  </h2>
  <div class="flex border justify-center items-end m-6 p-6 mx-auto rounded-xl">
    <tw-button variant="secondary" (click)="toggleDialog(5)" className="rounded-full">Open dialog</tw-button>
    <tw-modal-dialog [open]="open(5)" className="rounded-3xl">
      <tw-dialog-panel className="pb-0 sm:- gap-0">
        <tw-dialog-content className="pb-0 h-96">
          <h1 class="text-2xl border-none pb-3" id="modal-title">
            Install Angular
          </h1>
          <div class="overflow-scroll overscroll-contain p-0 pr-2 text-pretty text-gray-700 dark:text-gray-200">
            <h3 class="text-base font-bold leading-6 my-3 mt-0">Develop across all platforms</h3>
            <p class="text-sm text-gray-700 dark:text-gray-300">
              Learn one way to build applications with Angular and reuse your code and abilities to build apps for any
              deployment target. For web, mobile web, native mobile and native desktop.
            </p>
            <h3 class="text-base font-bold leading-6 my-3">Speed &amp; Performance</h3>
            <p class="text-sm text-gray-700 dark:text-gray-300">
              Achieve the maximum speed possible on the Web Platform today, and take it further, via Web Workers and
              server-side rendering. Angular puts you in control over scalability. Meet huge data requirements by
              building
              data models on RxJS, Immutable.js or another push-model.
            </p>
            <h3 class="text-base font-bold leading-6 my-3">Incredible tooling</h3>
            <p class="text-sm text-gray-700 dark:text-gray-300">
              Build features quickly with simple, declarative templates. Extend the template language with your own
              components and use a wide array of existing components. Get immediate Angular-specific help and feedback
              with
              nearly every IDE and editor. All this comes together so you can focus on building amazing apps rather than
              trying to make the code work.
            </p>
            <h3 class="text-base font-bold leading-6 my-3">Loved by millions</h3>
            <p class="text-sm text-gray-700 dark:text-gray-300">
              From prototype through global deployment, Angular delivers the productivity and scalable infrastructure
              that
              supports Google's largest applications.
            </p>
            <h3 class="text-base font-bold leading-6 my-3">What is Angular?</h3>
            <p class="text-sm text-gray-700 dark:text-gray-300">
              Angular is a platform that makes it easy to build applications with the web. Angular combines declarative
              templates, dependency injection, end to end tooling, and integrated best practices to solve development
              challenges. Angular empowers developers to build applications that live on the web, mobile, or the desktop
            </p>
            <h3 class="text-base font-bold leading-6 my-3">Architecture overview</h3>
            <p class="text-sm my-3 text-gray-700 dark:text-gray-300">
              Angular is a platform and framework for building client applications in HTML and TypeScript. Angular is
              itself
              written in TypeScript. It implements core and optional functionality as a set of TypeScript libraries that
              you
              import into your apps.
            </p>
            <p class="text-sm my-3 text-gray-700 dark:text-gray-300">
              The basic building blocks of an Angular application are NgModules, which provide a compilation context for
              components. NgModules collect related code into functional sets; an Angular app is defined by a set of
              NgModules. An app always has at least a root module that enables bootstrapping, and typically has many
              more
              feature modules.
            </p>
            <p class="text-sm my-3 text-gray-700 dark:text-gray-300">
              Components define views, which are sets of screen elements that Angular can choose among and modify
              according
              to your program logic and data. Every app has at least a root component.
            </p>
            <p class="text-sm my-3 text-gray-700 dark:text-gray-300">
              Components use services, which provide specific functionality not directly related to views. Service
              providers
              can be injected into components as dependencies, making your code modular, reusable, and efficient.
            </p>
            <p class="text-sm my-3 text-gray-700 dark:text-gray-300">
              Both components and services are simply classes, with decorators that mark their type and provide metadata
              that
              tells Angular how to use them.
            </p>
            <p class="text-sm my-3 text-gray-700 dark:text-gray-300">
              The metadata for a component class associates it with a template that defines a view. A template combines
              ordinary HTML with Angular directives and binding markup that allow Angular to modify the HTML before
              rendering
              it for display.
            </p>
            <p class="text-sm my-3 text-gray-700 dark:text-gray-300">
              The metadata for a service class provides the information Angular needs to make it available to components
              through Dependency Injection (DI).
            </p>
            <p class="text-sm my-3 text-gray-700 dark:text-gray-300">
              An app's components typically define many views, arranged hierarchically. Angular provides the Router
              service
              to help you define navigation paths among views. The router provides sophisticated in-browser navigational
              capabilities.
            </p>
          </div>
        </tw-dialog-content>
        <tw-button variant="text" (click)="toggleDialog(5)" className="hidden sm:block absolute top-2 right-0">
          <svg class="size-6 text-gray-500 hover:text-gray-600 dark:hover:text-gray-400"
            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
            <path fill-rule="evenodd"
              d="M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z"
              clip-rule="evenodd" />
          </svg>
        </tw-button>
      </tw-dialog-panel>
      <tw-dialog-actions>
        <tw-button (click)="toggleDialog(5)" className="w-full rounded-full">Install</tw-button>
        <tw-button (click)="close(5)" variant="secondary" className="w-full rounded-full border-none">Cancel</tw-button>
      </tw-dialog-actions>
    </tw-modal-dialog>
  </div>
</div>
