<app-menu></app-menu>
<!-- <div class="group fixed z-10 bottom-4 right-4">
  <div class="flex flex-col gap-2 place-items-end">
    <tw-button variant="text" class="hidden group-hover:block backdrop-blur rounded-full" size="sm" (click)="setOrange()">
      Orange
    </tw-button>
    <tw-button variant="text" class="hidden group-hover:block backdrop-blur rounded-full" size="sm" (click)="setRose()">
      Rose
    </tw-button>
    <tw-button variant="text" class="hidden group-hover:block backdrop-blur rounded-full" size="sm" (click)="setLime()">
      Lime
    </tw-button>
    <tw-button variant="tonal" [icon]="true" size="xl" class="rounded-full" (click)="reset()">
      <tw-icon name="format-color-reset" source="googlefonts" />
    </tw-button>
  </div>
</div> -->
<router-outlet />
