<div
  class="container sm:w-[600px] lg:w-[800px] *:container mx-auto p-6 *:grid *:sm:flex *:gap-4 *:border-gray-300 *:dark:border-gray-700">
  <h1 class="text-3xl text-gray-700 dark:text-gray-200 border-none font-extrabold mt-16">
    Dropdowns
  </h1>
  <h1 class="text-lg text-gray-700 dark:text-gray-200 border-none font-extrabold mt-12">
    With text
  </h1>
  <div class="border justify-center m-6 p-6 mx-auto rounded-xl">
    <tw-dropdown [open]="open(1)" (click)="toggle(1)">
      <tw-button className="rounded-full">Save changes</tw-button>
      <tw-dropdown-item *ngFor="let item of items">
        <tw-button variant="secondary" className="w-44 rounded-none border-none justify-start">{{ item }}</tw-button>
      </tw-dropdown-item>
    </tw-dropdown>
  </div>

  <h1 class="text-lg text-gray-700 dark:text-gray-200 border-none font-extrabold mt-12">
    With icon
  </h1>
  <div class="border justify-center m-6 p-6 mx-auto rounded-xl items-end">
    <tw-dropdown [open]="open(6)" (click)="toggle(6)">
      <tw-button variant="secondary" className="p-2 rounded-full">
        <svg *ngIf="!open(6)" class="size-6" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
          viewBox="0 -960 960 960">
          <path d="M480-360 280-560h400L480-360Z" />
        </svg>
        <svg *ngIf="open(6)" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor"
          class="size-6">
          <path d="m280-400 200-200 200 200H280Z" />
        </svg>
      </tw-button>
      <tw-dropdown-item *ngFor="let item of items">
        <tw-button variant="secondary" className="w-44 rounded-none border-none justify-start">{{ item }}</tw-button>
      </tw-dropdown-item>
    </tw-dropdown>
  </div>

  <h1 class="text-lg text-gray-700 dark:text-gray-200 border-none font-extrabold mt-12">
    With text and icon
  </h1>
  <div class="grid grid-cols-1 sm:flex border justify-center items-end m-6 p-6 mx-auto rounded-xl">
    <!-- sm -->
    <tw-group>
      <tw-button variant="secondary" size="sm" className="rounded-l-full">
        Save changes
      </tw-button>
      <tw-dropdown [open]="open(3)" (click)="toggle(3)" className="top-9">
        <tw-button variant="secondary" size="sm" className="rounded-r-full p-1.5 pr-2">
          <svg *ngIf="!open(3)" class="size-4" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
            viewBox="0 -960 960 960">
            <path d="M480-360 280-560h400L480-360Z" />
          </svg>
          <svg *ngIf="open(3)" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor"
            class="size-4">
            <path d="m280-400 200-200 200 200H280Z" />
          </svg>
        </tw-button>
        <tw-dropdown-item *ngFor="let item of items">
          <tw-button variant="secondary" size="sm" className="w-32 rounded-none border-none justify-start">{{ item
            }}</tw-button>
        </tw-dropdown-item>
      </tw-dropdown>
    </tw-group>
    <!-- md -->
    <tw-group>
      <tw-button variant="secondary" className="rounded-l-full">
        Save changes
      </tw-button>
      <tw-dropdown [open]="open(4)" (click)="toggle(4)">
        <tw-button variant="secondary" className="rounded-r-full p-2 pr-3">
          <svg *ngIf="!open(4)" class="size-6" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
            viewBox="0 -960 960 960">
            <path d="M480-360 280-560h400L480-360Z" />
          </svg>
          <svg *ngIf="open(4)" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor"
            class="size-6">
            <path d="m280-400 200-200 200 200H280Z" />
          </svg>
        </tw-button>
        <tw-dropdown-item *ngFor="let item of items">
          <tw-button variant="secondary" className="w-[11.5rem] rounded-none border-none justify-start">{{ item
            }}</tw-button>
        </tw-dropdown-item>
      </tw-dropdown>
    </tw-group>
    <!-- lg -->
    <tw-group>
      <tw-button variant="secondary" size="lg" className="rounded-l-full">
        Save changes
      </tw-button>
      <tw-dropdown [open]="open(5)" (click)="toggle(5)" className="top-14">
        <tw-button variant="secondary" size="lg" className="rounded-r-full p-2.5 pr-3">
          <svg *ngIf="!open(5)" class="size-7" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
            viewBox="0 -960 960 960">
            <path d="M480-360 280-560h400L480-360Z" />
          </svg>
          <svg *ngIf="open(5)" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor"
            class="size-7">
            <path d="m280-400 200-200 200 200H280Z" />
          </svg>
        </tw-button>
        <tw-dropdown-item *ngFor="let item of items">
          <tw-button variant="secondary" size="lg" className="w-56 rounded-none border-none justify-start">{{ item
            }}</tw-button>
        </tw-dropdown-item>
      </tw-dropdown>
    </tw-group>
  </div>

  <div class="mb-32"></div>
</div>
