<div
  class="container sm:w-[600px] lg:w-[800px] *:container *:items-end mx-auto p-4 *:grid *:gap-6 *:flex-wrap *:sm:flex *:p-6 *:m-6 *:mt-28 *:justify-center *:border-spacing-1 *:border *:border-gray-300 *:dark:border-gray-700 *:mx-auto *:relative *:rounded-lg">
  <!-- Avatar group stacked bottom to top -->
  <div>
    <div class="absolute -top-10 -left-0 dark:text-white border-none font-semibold">
      Avatar group stacked bottom to top
    </div>
    <nxt-group class="-space-x-1">
      <nxt-avatar>
        <img alt="" class="size-6 rounded-full"
          src="https://images.unsplash.com/photo-1618085219724-c59ba48e08cd?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
      </nxt-avatar>
      <nxt-avatar>
        <img alt="" class="size-6 rounded-full"
          src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
      </nxt-avatar>
      <nxt-avatar>
        <img alt="" class="size-6 rounded-full"
          src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=256&h=256&q=80">
      </nxt-avatar>
      <nxt-avatar>
        <img alt="" class="size-6 rounded-full"
          src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
      </nxt-avatar>
    </nxt-group>

    <nxt-group class="-space-x-1">
      <nxt-avatar>
        <img alt="" class="size-9 rounded-full"
          src="https://images.unsplash.com/photo-1618085219724-c59ba48e08cd?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
      </nxt-avatar>
      <nxt-avatar>
        <img alt="" class="size-9 rounded-full"
          src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
      </nxt-avatar>
      <nxt-avatar>
        <img alt="" class="size-9 rounded-full"
          src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=256&h=256&q=80">
      </nxt-avatar>
      <nxt-avatar>
        <img alt="" class="size-9 rounded-full"
          src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
      </nxt-avatar>
    </nxt-group>

    <nxt-group class="-space-x-1">
      <nxt-avatar>
        <img alt="" class="size-11 rounded-full"
          src="https://images.unsplash.com/photo-1618085219724-c59ba48e08cd?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
      </nxt-avatar>
      <nxt-avatar>
        <img alt="" class="size-11 rounded-full"
          src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
      </nxt-avatar>
      <nxt-avatar>
        <img alt="" class="size-11 rounded-full"
          src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=256&h=256&q=80">
      </nxt-avatar>
      <nxt-avatar>
        <img alt="" class="size-11 rounded-full"
          src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
      </nxt-avatar>
    </nxt-group>
  </div>
  <!-- Circular avatars -->
  <div>
    <div class="absolute -top-10 -left-0 dark:text-white border-none font-semibold">
      Circular avatars
    </div>
    <nxt-group class="gap-9 items-end">
      <nxt-avatar>
        <img alt="" class="size-6 rounded-full"
          src="https://images.unsplash.com/photo-1618085219724-c59ba48e08cd?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
      </nxt-avatar>
      <nxt-avatar>
        <img alt="" class="size-9 rounded-full"
          src="https://images.unsplash.com/photo-1618085219724-c59ba48e08cd?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
      </nxt-avatar>
      <nxt-avatar>
        <img alt="" class="size-11 rounded-full"
          src="https://images.unsplash.com/photo-1618085219724-c59ba48e08cd?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
      </nxt-avatar>
      <nxt-avatar>
        <img alt="" class="size-14 rounded-full"
          src="https://images.unsplash.com/photo-1618085219724-c59ba48e08cd?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
      </nxt-avatar>
      <nxt-avatar>
        <img alt="" class="size-16 rounded-full"
          src="https://images.unsplash.com/photo-1618085219724-c59ba48e08cd?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
      </nxt-avatar>
    </nxt-group>
  </div>
  <!-- Circular avatars with top notification -->
  <div>
    <div class="absolute -top-10 -left-0 dark:text-white border-none font-semibold">
      Circular avatars with top notification
    </div>

    <nxt-group class="gap-9 items-end">
      <nxt-avatar>
        <img alt="" class="size-6 rounded-full"
          src="https://images.unsplash.com/photo-1618085219724-c59ba48e08cd?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
        <nxt-tooltip className="size-1.5 bg-red-300" />
      </nxt-avatar>

      <nxt-avatar>
        <img alt="" class="size-9 rounded-full"
          src="https://images.unsplash.com/photo-1618085219724-c59ba48e08cd?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
        <nxt-tooltip className="size-2.5 bg-yellow-300">1</nxt-tooltip>
      </nxt-avatar>

      <nxt-avatar>
        <img alt="" class="size-11 rounded-full"
          src="https://images.unsplash.com/photo-1618085219724-c59ba48e08cd?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
        <nxt-tooltip className="size-3 bg-blue-300">2</nxt-tooltip>
      </nxt-avatar>

      <nxt-avatar>
        <img alt="" class="size-14 rounded-full"
          src="https://images.unsplash.com/photo-1618085219724-c59ba48e08cd?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
        <nxt-tooltip className="size-3.5 bg-green-300">4</nxt-tooltip>
      </nxt-avatar>

      <nxt-avatar>
        <img alt="" class="size-16 rounded-full"
          src="https://images.unsplash.com/photo-1618085219724-c59ba48e08cd?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
        <nxt-tooltip className="size-4 bg-gray-300">+99</nxt-tooltip>
      </nxt-avatar>
    </nxt-group>
  </div>
  <!-- Rounded avatars -->
  <div>
    <div class="absolute -top-10 -left-0 dark:text-white border-none font-semibold">
      Rounded avatars
    </div>

    <nxt-group class="gap-9 items-end">
      <nxt-avatar>
        <img alt="" class="size-6 rounded-lg"
          src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
      </nxt-avatar>

      <nxt-avatar>
        <img alt="" class="size-9 rounded-lg"
          src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
      </nxt-avatar>

      <nxt-avatar>
        <img alt="" class="size-11 rounded-lg"
          src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
      </nxt-avatar>

      <nxt-avatar>
        <img alt="" class="size-14 rounded-lg"
          src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
      </nxt-avatar>

      <nxt-avatar>
        <img alt="" class="size-16 rounded-lg"
          src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
      </nxt-avatar>
    </nxt-group>
  </div>
  <!-- Rounded avatars with top notification -->
  <div>
    <div class="absolute -top-10 -left-0 dark:text-white border-none font-semibold">
      Rounded avatars with top notification
    </div>

    <nxt-group class="gap-9 items-end">
      <nxt-avatar>
        <img alt="" class="size-6 rounded-lg"
          src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
        <nxt-tooltip className="size-1.5 -top-0.5 bg-red-300" />
      </nxt-avatar>

      <nxt-avatar>
        <img alt="" class="size-9 rounded-lg"
          src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
        <nxt-tooltip className="size-2.5 -top-1 -right-1 bg-yellow-300">1</nxt-tooltip>
      </nxt-avatar>

      <nxt-avatar>
        <img alt="" class="size-11 rounded-lg"
          src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
        <nxt-tooltip className="size-3 -top-1.5 -right-1.5 bg-blue-300">2</nxt-tooltip>
      </nxt-avatar>

      <nxt-avatar>
        <img alt="" class="size-14 rounded-lg"
          src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
        <nxt-tooltip className="size-3.5 -top-1.5 -right-1.5 bg-green-300">4</nxt-tooltip>
      </nxt-avatar>

      <nxt-avatar>
        <img alt="" class="size-16 rounded-lg"
          src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
        <nxt-tooltip className="size-4 -top-2 -right-2 bg-gray-300">+99</nxt-tooltip>
      </nxt-avatar>
    </nxt-group>
  </div>
  <!-- Circular avatars with placeholder icon -->
  <div>
    <div class="absolute -top-10 -left-0 dark:text-white border-none font-semibold">
      Circular avatars with placeholder icon
    </div>

    <nxt-group class="gap-9 items-end">
      <nxt-avatar className="size-6 text-gray-400 ring- bg-">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor">
          <path fill-rule="evenodd"
            d="M15 8A7 7 0 1 1 1 8a7 7 0 0 1 14 0Zm-5-2a2 2 0 1 1-4 0 2 2 0 0 1 4 0ZM8 9c-1.825 0-3.422.977-4.295 2.437A5.49 5.49 0 0 0 8 13.5a5.49 5.49 0 0 0 4.294-2.063A4.997 4.997 0 0 0 8 9Z"
            clip-rule="evenodd" />
        </svg>
      </nxt-avatar>
      <nxt-avatar className="size-9 text-gray-400 ring- bg-">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor">
          <path fill-rule="evenodd"
            d="M15 8A7 7 0 1 1 1 8a7 7 0 0 1 14 0Zm-5-2a2 2 0 1 1-4 0 2 2 0 0 1 4 0ZM8 9c-1.825 0-3.422.977-4.295 2.437A5.49 5.49 0 0 0 8 13.5a5.49 5.49 0 0 0 4.294-2.063A4.997 4.997 0 0 0 8 9Z"
            clip-rule="evenodd" />
        </svg>
      </nxt-avatar>
      <nxt-avatar className="size-11 text-gray-400 ring- bg-">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor">
          <path fill-rule="evenodd"
            d="M15 8A7 7 0 1 1 1 8a7 7 0 0 1 14 0Zm-5-2a2 2 0 1 1-4 0 2 2 0 0 1 4 0ZM8 9c-1.825 0-3.422.977-4.295 2.437A5.49 5.49 0 0 0 8 13.5a5.49 5.49 0 0 0 4.294-2.063A4.997 4.997 0 0 0 8 9Z"
            clip-rule="evenodd" />
        </svg>
      </nxt-avatar>
      <nxt-avatar className="size-14 text-gray-400 ring- bg-">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor">
          <path fill-rule="evenodd"
            d="M15 8A7 7 0 1 1 1 8a7 7 0 0 1 14 0Zm-5-2a2 2 0 1 1-4 0 2 2 0 0 1 4 0ZM8 9c-1.825 0-3.422.977-4.295 2.437A5.49 5.49 0 0 0 8 13.5a5.49 5.49 0 0 0 4.294-2.063A4.997 4.997 0 0 0 8 9Z"
            clip-rule="evenodd" />
        </svg>
      </nxt-avatar>
      <nxt-avatar className="size-16 text-gray-400 ring- bg-">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor">
          <path fill-rule="evenodd"
            d="M15 8A7 7 0 1 1 1 8a7 7 0 0 1 14 0Zm-5-2a2 2 0 1 1-4 0 2 2 0 0 1 4 0ZM8 9c-1.825 0-3.422.977-4.295 2.437A5.49 5.49 0 0 0 8 13.5a5.49 5.49 0 0 0 4.294-2.063A4.997 4.997 0 0 0 8 9Z"
            clip-rule="evenodd" />
        </svg>
      </nxt-avatar>
    </nxt-group>
  </div>
  <!-- Circular avatars with placeholder initials -->
  <div>
    <div class="absolute -top-10 -left-0 dark:text-white border-none font-semibold">
      Circular avatars with placeholder initials
    </div>

    <nxt-group class="gap-9 items-end">
      <nxt-avatar className="size-6 text-xs text-white">TW</nxt-avatar>
      <nxt-avatar className="size-9 text-lg text-white">TW</nxt-avatar>
      <nxt-avatar className="size-11 text-xl text-white">TW</nxt-avatar>
      <nxt-avatar className="size-14 text-2xl text-white">TW</nxt-avatar>
      <nxt-avatar className="size-16 text-3xl text-white">TW</nxt-avatar>
    </nxt-group>
  </div>
  <!-- Circular avatars with bottom notification -->
  <div>
    <div class="absolute -top-10 -left-0 dark:text-white border-none font-semibold">
      Circular avatars with bottom notification
    </div>

    <nxt-group class="gap-9 items-end">
      <nxt-avatar>
        <img alt="" class="size-6 rounded-full"
          src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
        <nxt-tooltip className="size-1.5 top- -bottom-0 bg-red-300" />
      </nxt-avatar>

      <nxt-avatar>
        <img alt="" class="size-9 rounded-full"
          src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
        <nxt-tooltip className="size-2.5 text-[6px] top- -bottom-0 bg-yellow-300">1</nxt-tooltip>
      </nxt-avatar>

      <nxt-avatar>
        <img alt="" class="size-11 rounded-full"
          src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
        <nxt-tooltip className="size-3 top- -bottom-0 bg-blue-300">2</nxt-tooltip>
      </nxt-avatar>

      <nxt-avatar>
        <img alt="" class="size-14 rounded-full"
          src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
        <nxt-tooltip className="size-3.5 top- -bottom-0 bg-green-300">4</nxt-tooltip>
      </nxt-avatar>

      <nxt-avatar>
        <img alt="" class="size-16 rounded-full"
          src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
        <nxt-tooltip className="size-4 top- -bottom-0 bg-gray-300">+99</nxt-tooltip>
      </nxt-avatar>
    </nxt-group>
  </div>
  <!-- Rounded avatars with bottom notification -->
  <div>
    <div class="absolute -top-10 -left-0 dark:text-white border-none font-semibold">
      Rounded avatars with bottom notification
    </div>

    <nxt-group class="gap-9 items-end">
      <nxt-avatar>
        <img alt="" class="size-6 rounded-lg"
          src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=256&h=256&q=80">
        <nxt-tooltip className="size-1.5 top- -bottom-0.5 -right-0.5 bg-red-300" />
      </nxt-avatar>

      <nxt-avatar>
        <img alt="" class="size-9 rounded-lg"
          src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=256&h=256&q=80">
        <nxt-tooltip className="size-2.5 text-[6px] -top- -bottom-1 -right-1 bg-yellow-300">1</nxt-tooltip>
      </nxt-avatar>

      <nxt-avatar>
        <img alt="" class="size-11 rounded-lg"
          src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=256&h=256&q=80">
        <nxt-tooltip className="top- -bottom-1.5 -right-1.5 bg-blue-300">2</nxt-tooltip>
      </nxt-avatar>

      <nxt-avatar>
        <img alt="" class="size-14 rounded-lg"
          src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=256&h=256&q=80">
        <nxt-tooltip className="size-3.5 top- -bottom-1.5 -right-1.5 bg-green-300">4</nxt-tooltip>
      </nxt-avatar>

      <nxt-avatar>
        <img alt="" class="size-16 rounded-lg"
          src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=256&h=256&q=80">
        <nxt-tooltip className="size-4 top- -bottom-2 -right-2 bg-gray-300">+99</nxt-tooltip>
      </nxt-avatar>
    </nxt-group>
  </div>
  <!-- Avatar group stacked top to bottom -->
  <div>
    <div class="absolute -top-12 -left-0 dark:text-white border-none font-semibold">
      Avatar group stacked top to bottom
    </div>

    <nxt-group class="-space-x-1">
      <nxt-avatar className="z-[4] hover:z-10">
        <img alt="" class="size-6 rounded-full"
          src="https://images.unsplash.com/photo-1618085219724-c59ba48e08cd?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
      </nxt-avatar>
      <nxt-avatar className="z-[3] hover:z-10">
        <img alt="" class="size-6 rounded-full"
          src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
      </nxt-avatar>
      <nxt-avatar className="z-[2] hover:z-10">
        <img alt="" class="size-6 rounded-full"
          src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=256&h=256&q=80">
      </nxt-avatar>
      <nxt-avatar className="z-[1] hover:z-10">
        <img alt="" class="size-6 rounded-full"
          src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
      </nxt-avatar>
    </nxt-group>

    <nxt-group class="-space-x-1">
      <nxt-avatar className="z-[4] hover:z-10">
        <img alt="" class="size-9 rounded-full"
          src="https://images.unsplash.com/photo-1618085219724-c59ba48e08cd?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
      </nxt-avatar>
      <nxt-avatar className="z-[3] hover:z-10">
        <img alt="" class="size-9 rounded-full"
          src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
      </nxt-avatar>
      <nxt-avatar className="z-[2] hover:z-10">
        <img alt="" class="size-9 rounded-full"
          src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=256&h=256&q=80">
      </nxt-avatar>
      <nxt-avatar className="z-[1] hover:z-10">
        <img alt="" class="size-9 rounded-full"
          src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
      </nxt-avatar>
    </nxt-group>

    <nxt-group class="-space-x-1">
      <nxt-avatar className="z-[4] hover:z-10">
        <img alt="" class="size-11 rounded-full"
          src="https://images.unsplash.com/photo-1618085219724-c59ba48e08cd?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
      </nxt-avatar>
      <nxt-avatar className="z-[3] hover:z-10">
        <img alt="" class="size-11 rounded-full"
          src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
      </nxt-avatar>
      <nxt-avatar className="z-[2] hover:z-10">
        <img alt="" class="size-11 rounded-full"
          src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=256&h=256&q=80">
      </nxt-avatar>
      <nxt-avatar className="z-[1] hover:z-10">
        <img alt="" class="size-11 rounded-full"
          src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
      </nxt-avatar>
    </nxt-group>
  </div>
  <!-- Avatar With text -->
  <div>
    <div class="absolute -top-12 -left-0 dark:text-white border-none font-semibold">
      Avatar With text
    </div>
    <nxt-group class="gap-x-2">
      <nxt-avatar>
        <img alt="" class="size-9 rounded-full"
          src="https://images.unsplash.com/photo-1618085219724-c59ba48e08cd?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
      </nxt-avatar>
      <span class="relative cursor-pointer text-nowrap group dark:text-white">
        <div class="absolute -top-1.5 text-md font-normal">Jane Smith</div>
        <a class="absolute bottom-0.5 text-xs opacity-70 group-hover:opacity-[1]">View profile</a>
      </span>
    </nxt-group>
  </div>
</div>
