<div
  class="container w-full sm:max-w-lg md:max-w-3xl mx-auto p-6 text-gray-700 dark:text-gray-200 *:gap-4 *:border-black/[.10] *:dark:border-white/[.10]">
  <h1 class="text-3xl border-none font-extrabold my-8 mt-16">
    Avatars
  </h1>
  <p class="text-pretty">Use these Tailwind CSS avatar components to display user profile pictures and company logos
    individually or grouped
    in stacks.</p>

  <h2 class="text-lg font-semibold mt-12">
    Avatar group stacked bottom to top
  </h2>
  <div
    class="flex border justify-center items-end m-6 mb-0 p-6 py-10 mx-auto rounded-xl rounded-b-none bg-white dark:bg-neutral-900">
    <tw-group class="-space-x-1">
      <tw-avatar>
        <img alt="" class="size-6 rounded-full ring-2 ring-white"
          src="https://images.unsplash.com/photo-1618085219724-c59ba48e08cd?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
      </tw-avatar>
      <tw-avatar>
        <img alt="" class="size-6 rounded-full ring-2 ring-white"
          src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
      </tw-avatar>
      <tw-avatar>
        <img alt="" class="size-6 rounded-full ring-2 ring-white"
          src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=256&h=256&q=80">
      </tw-avatar>
      <tw-avatar>
        <img alt="" class="size-6 rounded-full ring-2 ring-white"
          src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
      </tw-avatar>
    </tw-group>

    <tw-group class="-space-x-1">
      <tw-avatar>
        <img alt="" class="size-9 rounded-full ring-2 ring-white"
          src="https://images.unsplash.com/photo-1618085219724-c59ba48e08cd?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
      </tw-avatar>
      <tw-avatar>
        <img alt="" class="size-9 rounded-full ring-2 ring-white"
          src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
      </tw-avatar>
      <tw-avatar>
        <img alt="" class="size-9 rounded-full ring-2 ring-white"
          src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=256&h=256&q=80">
      </tw-avatar>
      <tw-avatar>
        <img alt="" class="size-9 rounded-full ring-2 ring-white"
          src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
      </tw-avatar>
    </tw-group>

    <tw-group class="-space-x-1">
      <tw-avatar>
        <img alt="" class="size-11 rounded-full ring-2 ring-white"
          src="https://images.unsplash.com/photo-1618085219724-c59ba48e08cd?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
      </tw-avatar>
      <tw-avatar>
        <img alt="" class="size-11 rounded-full ring-2 ring-white"
          src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
      </tw-avatar>
      <tw-avatar>
        <img alt="" class="size-11 rounded-full ring-2 ring-white"
          src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=256&h=256&q=80">
      </tw-avatar>
      <tw-avatar>
        <img alt="" class="size-11 rounded-full ring-2 ring-white"
          src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
      </tw-avatar>
    </tw-group>
  </div>

  <h2 class="text-lg font-semibold mt-12">
    Circular avatars
  </h2>
  <div
    class="flex border justify-center items-end m-6 mb-0 p-6 py-10 mx-auto rounded-xl rounded-b-none bg-white dark:bg-neutral-900">
    <tw-group class="gap-9 items-end">
      <tw-avatar>
        <img alt="" class="size-6 rounded-full"
          src="https://images.unsplash.com/photo-1618085219724-c59ba48e08cd?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
      </tw-avatar>
      <tw-avatar>
        <img alt="" class="size-9 rounded-full"
          src="https://images.unsplash.com/photo-1618085219724-c59ba48e08cd?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
      </tw-avatar>
      <tw-avatar>
        <img alt="" class="size-11 rounded-full"
          src="https://images.unsplash.com/photo-1618085219724-c59ba48e08cd?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
      </tw-avatar>
      <tw-avatar>
        <img alt="" class="size-14 rounded-full"
          src="https://images.unsplash.com/photo-1618085219724-c59ba48e08cd?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
      </tw-avatar>
      <tw-avatar>
        <img alt="" class="size-16 rounded-full"
          src="https://images.unsplash.com/photo-1618085219724-c59ba48e08cd?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
      </tw-avatar>
    </tw-group>
  </div>

  <h2 class="text-lg font-semibold mt-12">
    Circular avatars with top notification
  </h2>
  <div
    class="flex border justify-center items-end m-6 mb-0 p-6 py-10 mx-auto rounded-xl rounded-b-none bg-white dark:bg-neutral-900">
    <tw-group class="gap-9 items-end">
      <tw-avatar>
        <img alt="" class="size-6 rounded-full"
          src="https://images.unsplash.com/photo-1618085219724-c59ba48e08cd?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
        <tw-tooltip className="size-1.5 bg-red-300" />
      </tw-avatar>

      <tw-avatar>
        <img alt="" class="size-9 rounded-full"
          src="https://images.unsplash.com/photo-1618085219724-c59ba48e08cd?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
        <tw-tooltip className="size-2.5 bg-yellow-300">1</tw-tooltip>
      </tw-avatar>

      <tw-avatar>
        <img alt="" class="size-11 rounded-full"
          src="https://images.unsplash.com/photo-1618085219724-c59ba48e08cd?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
        <tw-tooltip className="size-3 bg-blue-300">2</tw-tooltip>
      </tw-avatar>

      <tw-avatar>
        <img alt="" class="size-14 rounded-full"
          src="https://images.unsplash.com/photo-1618085219724-c59ba48e08cd?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
        <tw-tooltip className="size-3.5 bg-green-300">4</tw-tooltip>
      </tw-avatar>

      <tw-avatar>
        <img alt="" class="size-16 rounded-full"
          src="https://images.unsplash.com/photo-1618085219724-c59ba48e08cd?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
        <tw-tooltip className="size-4 bg-gray-300">+99</tw-tooltip>
      </tw-avatar>
    </tw-group>
  </div>
  <h2 class="text-lg font-semibold mt-12">
    Rounded avatars
  </h2>
  <div
    class="flex border justify-center items-end m-6 mb-0 p-6 py-10 mx-auto rounded-xl rounded-b-none bg-white dark:bg-neutral-900">
    <tw-group class="gap-9 items-end">
      <tw-avatar>
        <img alt="" class="size-6 rounded-lg"
          src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
      </tw-avatar>

      <tw-avatar>
        <img alt="" class="size-9 rounded-lg"
          src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
      </tw-avatar>

      <tw-avatar>
        <img alt="" class="size-11 rounded-lg"
          src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
      </tw-avatar>

      <tw-avatar>
        <img alt="" class="size-14 rounded-lg"
          src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
      </tw-avatar>

      <tw-avatar>
        <img alt="" class="size-16 rounded-lg"
          src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
      </tw-avatar>
    </tw-group>
  </div>
  <h2 class="text-lg font-semibold mt-12">
    Rounded avatars with top notification
  </h2>
  <div
    class="flex border justify-center items-end m-6 mb-0 p-6 py-10 mx-auto rounded-xl rounded-b-none bg-white dark:bg-neutral-900">
    <tw-group class="gap-9 items-end">
      <tw-avatar>
        <img alt="" class="size-6 rounded-lg"
          src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
        <tw-tooltip className="size-1.5 -top-0.5 bg-red-300" />
      </tw-avatar>

      <tw-avatar>
        <img alt="" class="size-9 rounded-lg"
          src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
        <tw-tooltip className="size-2.5 -top-1 -right-1 bg-yellow-300">1</tw-tooltip>
      </tw-avatar>

      <tw-avatar>
        <img alt="" class="size-11 rounded-lg"
          src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
        <tw-tooltip className="size-3 -top-1.5 -right-1.5 bg-blue-300">2</tw-tooltip>
      </tw-avatar>

      <tw-avatar>
        <img alt="" class="size-14 rounded-lg"
          src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
        <tw-tooltip className="size-3.5 -top-1.5 -right-1.5 bg-green-300">4</tw-tooltip>
      </tw-avatar>

      <tw-avatar>
        <img alt="" class="size-16 rounded-lg"
          src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
        <tw-tooltip className="size-4 -top-2 -right-2 bg-gray-300">+99</tw-tooltip>
      </tw-avatar>
    </tw-group>
  </div>
  <h2 class="text-lg font-semibold mt-12">
    Circular avatars with placeholder icon
  </h2>
  <div
    class="flex border justify-center items-end m-6 mb-0 p-6 py-10 mx-auto rounded-xl rounded-b-none bg-white dark:bg-neutral-900">
    <tw-group class="gap-9 items-end">
      <tw-avatar className="size-6 text-gray-400">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor">
          <path fill-rule="evenodd"
            d="M15 8A7 7 0 1 1 1 8a7 7 0 0 1 14 0Zm-5-2a2 2 0 1 1-4 0 2 2 0 0 1 4 0ZM8 9c-1.825 0-3.422.977-4.295 2.437A5.49 5.49 0 0 0 8 13.5a5.49 5.49 0 0 0 4.294-2.063A4.997 4.997 0 0 0 8 9Z"
            clip-rule="evenodd" />
        </svg>
      </tw-avatar>

      <tw-avatar className="size-9 text-gray-400">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor">
          <path fill-rule="evenodd"
            d="M15 8A7 7 0 1 1 1 8a7 7 0 0 1 14 0Zm-5-2a2 2 0 1 1-4 0 2 2 0 0 1 4 0ZM8 9c-1.825 0-3.422.977-4.295 2.437A5.49 5.49 0 0 0 8 13.5a5.49 5.49 0 0 0 4.294-2.063A4.997 4.997 0 0 0 8 9Z"
            clip-rule="evenodd" />
        </svg>
      </tw-avatar>

      <tw-avatar className="size-11 text-gray-400">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor">
          <path fill-rule="evenodd"
            d="M15 8A7 7 0 1 1 1 8a7 7 0 0 1 14 0Zm-5-2a2 2 0 1 1-4 0 2 2 0 0 1 4 0ZM8 9c-1.825 0-3.422.977-4.295 2.437A5.49 5.49 0 0 0 8 13.5a5.49 5.49 0 0 0 4.294-2.063A4.997 4.997 0 0 0 8 9Z"
            clip-rule="evenodd" />
        </svg>
      </tw-avatar>

      <tw-avatar className="size-14 text-gray-400">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor">
          <path fill-rule="evenodd"
            d="M15 8A7 7 0 1 1 1 8a7 7 0 0 1 14 0Zm-5-2a2 2 0 1 1-4 0 2 2 0 0 1 4 0ZM8 9c-1.825 0-3.422.977-4.295 2.437A5.49 5.49 0 0 0 8 13.5a5.49 5.49 0 0 0 4.294-2.063A4.997 4.997 0 0 0 8 9Z"
            clip-rule="evenodd" />
        </svg>
      </tw-avatar>

      <tw-avatar className="size-16 text-gray-400">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor">
          <path fill-rule="evenodd"
            d="M15 8A7 7 0 1 1 1 8a7 7 0 0 1 14 0Zm-5-2a2 2 0 1 1-4 0 2 2 0 0 1 4 0ZM8 9c-1.825 0-3.422.977-4.295 2.437A5.49 5.49 0 0 0 8 13.5a5.49 5.49 0 0 0 4.294-2.063A4.997 4.997 0 0 0 8 9Z"
            clip-rule="evenodd" />
        </svg>
      </tw-avatar>
    </tw-group>
  </div>
  <h2 class="text-lg font-semibold mt-12">
    Circular avatars with placeholder initials
  </h2>
  <div
    class="flex border justify-center items-end m-6 mb-0 p-6 py-10 mx-auto rounded-xl rounded-b-none bg-white dark:bg-neutral-900">
    <tw-group class="gap-9 items-end">
      <tw-avatar className="size-6 text-xs text-white bg-gray-500">TW</tw-avatar>
      <tw-avatar className="size-9 text-lg text-white bg-gray-500">TW</tw-avatar>
      <tw-avatar className="size-11 text-xl text-white bg-gray-500">TW</tw-avatar>
      <tw-avatar className="size-14 text-2xl text-white bg-gray-500">TW</tw-avatar>
      <tw-avatar className="size-16 text-3xl text-white bg-gray-500">TW</tw-avatar>
    </tw-group>
  </div>
  <h2 class="text-lg font-semibold mt-12">
    Circular avatars with bottom notification
  </h2>
  <div
    class="flex border justify-center items-end m-6 mb-0 p-6 py-10 mx-auto rounded-xl rounded-b-none bg-white dark:bg-neutral-900">
    <tw-group class="gap-9 items-end">
      <tw-avatar>
        <img alt="" class="size-6 rounded-full"
          src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
        <tw-tooltip className="size-1.5 top- -bottom-0 bg-red-300" />
      </tw-avatar>

      <tw-avatar>
        <img alt="" class="size-9 rounded-full"
          src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
        <tw-tooltip className="size-2.5 top- -bottom-0 bg-yellow-300">1</tw-tooltip>
      </tw-avatar>

      <tw-avatar>
        <img alt="" class="size-11 rounded-full"
          src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
        <tw-tooltip className="size-3 top- -bottom-0 bg-blue-300">2</tw-tooltip>
      </tw-avatar>

      <tw-avatar>
        <img alt="" class="size-14 rounded-full"
          src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
        <tw-tooltip className="size-3.5 top- -bottom-0 bg-green-300">4</tw-tooltip>
      </tw-avatar>

      <tw-avatar>
        <img alt="" class="size-16 rounded-full"
          src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
        <tw-tooltip className="size-4 top- -bottom-0 bg-gray-300">+99</tw-tooltip>
      </tw-avatar>
    </tw-group>
  </div>
  <h2 class="text-lg font-semibold mt-12">
    Rounded avatars with bottom notification
  </h2>
  <div
    class="flex border justify-center items-end m-6 mb-0 p-6 py-10 mx-auto rounded-xl rounded-b-none bg-white dark:bg-neutral-900">
    <tw-group class="gap-9 items-end">
      <tw-avatar>
        <img alt="" class="size-6 rounded-lg"
          src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=256&h=256&q=80">
        <tw-tooltip className="size-1.5 top- -bottom-0.5 -right-0.5 bg-red-300" />
      </tw-avatar>

      <tw-avatar>
        <img alt="" class="size-9 rounded-lg"
          src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=256&h=256&q=80">
        <tw-tooltip className="size-2.5 -top- -bottom-1 -right-1 bg-yellow-300">1</tw-tooltip>
      </tw-avatar>

      <tw-avatar>
        <img alt="" class="size-11 rounded-lg"
          src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=256&h=256&q=80">
        <tw-tooltip className="top- -bottom-1.5 -right-1.5 bg-blue-300">2</tw-tooltip>
      </tw-avatar>

      <tw-avatar>
        <img alt="" class="size-14 rounded-lg"
          src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=256&h=256&q=80">
        <tw-tooltip className="size-3.5 top- -bottom-1.5 -right-1.5 bg-green-300">4</tw-tooltip>
      </tw-avatar>

      <tw-avatar>
        <img alt="" class="size-16 rounded-lg"
          src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=256&h=256&q=80">
        <tw-tooltip className="size-4 top- -bottom-2 -right-2 bg-gray-300">+99</tw-tooltip>
      </tw-avatar>
    </tw-group>
  </div>
  <h2 class="text-lg font-semibold mt-12">
    Avatar group stacked top to bottom
  </h2>
  <div
    class="flex border justify-center items-end m-6 mb-0 p-6 py-10 mx-auto rounded-xl rounded-b-none bg-white dark:bg-neutral-900">
    <tw-group class="-space-x-1">
      <tw-avatar className="z-[4] hover:z-10 ring-2 ring-white">
        <img alt="" class="size-6 rounded-full"
          src="https://images.unsplash.com/photo-1618085219724-c59ba48e08cd?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
      </tw-avatar>
      <tw-avatar className="z-[3] hover:z-10 ring-2 ring-white">
        <img alt="" class="size-6 rounded-full"
          src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
      </tw-avatar>
      <tw-avatar className="z-[2] hover:z-10 ring-2 ring-white">
        <img alt="" class="size-6 rounded-full"
          src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=256&h=256&q=80">
      </tw-avatar>
      <tw-avatar className="z-[1] hover:z-10 ring-2 ring-white">
        <img alt="" class="size-6 rounded-full"
          src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
      </tw-avatar>
    </tw-group>

    <tw-group class="-space-x-1">
      <tw-avatar className="z-[4] hover:z-10 ring-2 ring-white">
        <img alt="" class="size-9 rounded-full"
          src="https://images.unsplash.com/photo-1618085219724-c59ba48e08cd?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
      </tw-avatar>
      <tw-avatar className="z-[3] hover:z-10 ring-2 ring-white">
        <img alt="" class="size-9 rounded-full"
          src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
      </tw-avatar>
      <tw-avatar className="z-[2] hover:z-10 ring-2 ring-white">
        <img alt="" class="size-9 rounded-full"
          src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=256&h=256&q=80">
      </tw-avatar>
      <tw-avatar className="z-[1] hover:z-10 ring-2 ring-white">
        <img alt="" class="size-9 rounded-full"
          src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
      </tw-avatar>
    </tw-group>

    <tw-group class="-space-x-1">
      <tw-avatar className="z-[4] hover:z-10 ring-2 ring-white">
        <img alt="" class="size-11 rounded-full"
          src="https://images.unsplash.com/photo-1618085219724-c59ba48e08cd?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
      </tw-avatar>
      <tw-avatar className="z-[3] hover:z-10 ring-2 ring-white">
        <img alt="" class="size-11 rounded-full"
          src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
      </tw-avatar>
      <tw-avatar className="z-[2] hover:z-10 ring-2 ring-white">
        <img alt="" class="size-11 rounded-full"
          src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=256&h=256&q=80">
      </tw-avatar>
      <tw-avatar className="z-[1] hover:z-10 ring-2 ring-white">
        <img alt="" class="size-11 rounded-full"
          src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
      </tw-avatar>
    </tw-group>
  </div>
  <h2 class="text-lg font-semibold mt-12">
    Avatar With text
  </h2>
  <div
    class="flex border justify-center items-end m-6 mb-0 p-6 py-10 mx-auto rounded-xl rounded-b-none bg-white dark:bg-neutral-900">
    <tw-group class="gap-x-2">
      <tw-avatar>
        <img alt="" class="size-9 rounded-full"
          src="https://images.unsplash.com/photo-1618085219724-c59ba48e08cd?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
      </tw-avatar>
      <span class="relative cursor-pointer text-nowrap group dark:text-white">
        <div class="absolute -top-1.5 text-md font-normal">Jane Smith</div>
        <a class="absolute bottom-0.5 text-xs opacity-70 group-hover:opacity-[1]">View profile</a>
      </span>
    </tw-group>
  </div>
</div>