<div
  class="container w-full sm:max-w-2xl md:max-w-4xl 2xl:pl-6 mx-auto p-6 text-gray-800 dark:text-gray-200 *:gap-4 *:border-black/[.10] *:dark:border-white/[.10]">
  <div
    class="grid sm:flex border justify-center justify-items-center items-end mt-20 mb-0 p-6 py-10 mx-auto rounded-xl rounded-b-none bg-white dark:bg-[#1E1E1E]">
    <div>
      <p><span class="relative"><span class="absolute -left-11 -top-1">p</span></span>Welcome to the show</p>
      <tw-h4><span class="relative"><span class="absolute -left-12 -top-0.5">H</span></span>Welcome to the show</tw-h4>
      <tw-h3><span class="relative"><span class="absolute -left-14 top-0.5">H</span></span>Welcome to the show</tw-h3>
      <tw-h2><span class="relative"><span class="absolute -left-16 top-1.5">H</span></span>Welcome to the show</tw-h2>
      <tw-h1><span class="relative"><span class="absolute -left-20 top-2.5">H</span></span>Welcome to the show</tw-h1>
      <tw-h2><span class="relative"><span class="absolute -left-16 top-1.5">H</span></span>Welcome to the show</tw-h2>
      <tw-h3><span class="relative"><span class="absolute -left-14 top-0.5">H</span></span>Welcome to the show</tw-h3>
      <tw-h4><span class="relative"><span class="absolute -left-12 -top-0.5">H</span></span>Welcome to the show</tw-h4>
      <p><span class="relative"><span class="absolute -left-11 -top-1">p</span></span>Welcome to the show</p>
    </div>
  </div>
</div>
