<div
  class="container sm:w-[600px] lg:w-[800px] *:container mx-auto p-4 *:flex *:flex-wrap *:sm:flex *:gap-4 *:p-6 *:m-6 *:mt-28 *:justify-center *:border-spacing-1 *:border *:border-gray-300 *:dark:border-gray-700 *:mx-auto *:relative *:rounded-lg">

  <div>
    <div class="absolute -top-10 -left-0 text-black dark:text-white border-none p-0 font-semibold">
      Badges
    </div>
    <nxt-badge className="bg-gray-600 text-gray-600 ring-gray-300">Badge</nxt-badge>
    <nxt-badge className="bg-red-600 text-red-700 ring-red-300">Badge</nxt-badge>
    <nxt-badge className="bg-yellow-600 text-yellow-800 ring-yellow-300">Badge</nxt-badge>
    <nxt-badge className="bg-green-600 text-green-700 ring-green-300">Badge</nxt-badge>
    <nxt-badge className="bg-blue-600 text-blue-700 ring-blue-300">Badge</nxt-badge>
    <nxt-badge className="bg-indigo-600 text-indigo-700 ring-indigo-300">Badge</nxt-badge>
    <nxt-badge className="bg-purple-600 text-purple-700 ring-purple-300">Badge</nxt-badge>
    <nxt-badge className="bg-pink-600 text-pink-700 ring-pink-300">Badge</nxt-badge>
  </div>
</div>

