<div
  class="container sm:w-[600px] lg:w-[800px] *:container mx-auto p-4 *:flex *:flex-wrap *:sm:flex *:gap-4 *:p-6 *:m-6 *:mt-28 *:justify-center *:border-spacing-1 *:border *:border-gray-300 *:dark:border-gray-700 *:mx-auto *:relative *:rounded-lg">
  <div>
    <div class="absolute -top-10 -left-0 text-black dark:text-white border-none p-0 font-semibold">
      Flat
    </div>
    <tw-badge className="bg-gray-600 text-gray-600">Badge</tw-badge>
    <tw-badge className="bg-red-600 text-red-700">Badge</tw-badge>
    <tw-badge className="bg-yellow-600 text-yellow-800">Badge</tw-badge>
    <tw-badge className="bg-green-600 text-green-700">Badge</tw-badge>
    <tw-badge className="bg-blue-600 text-blue-700">Badge</tw-badge>
    <tw-badge className="bg-indigo-600 text-indigo-700">Badge</tw-badge>
    <tw-badge className="bg-purple-600 text-purple-700">Badge</tw-badge>
    <tw-badge className="bg-pink-600 text-pink-700">Badge</tw-badge>
  </div>

  <div>
    <div class="absolute -top-10 -left-0 text-black dark:text-white border-none p-0 font-semibold">
      With border
    </div>
    <tw-badge className="bg-gray-600 text-gray-600 ring-1 ring-gray-300">Badge</tw-badge>
    <tw-badge className="bg-red-600 text-red-700 ring-1 ring-red-300">Badge</tw-badge>
    <tw-badge className="bg-yellow-600 text-yellow-800 ring-1 ring-yellow-300">Badge</tw-badge>
    <tw-badge className="bg-green-600 text-green-700 ring-1 ring-green-300">Badge</tw-badge>
    <tw-badge className="bg-blue-600 text-blue-700 ring-1 ring-blue-300">Badge</tw-badge>
    <tw-badge className="bg-indigo-600 text-indigo-700 ring-1 ring-indigo-300">Badge</tw-badge>
    <tw-badge className="bg-purple-600 text-purple-700 ring-1 ring-purple-300">Badge</tw-badge>
    <tw-badge className="bg-pink-600 text-pink-700 ring-1 ring-pink-300">Badge</tw-badge>
  </div>


  <div>
    <div class="absolute -top-10 -left-0 text-black dark:text-white border-none p-0 font-semibold">
      Rounded with leading icon
    </div>
    <tw-badge className="bg-gray-600 text-gray-600 ring-gray-300 rounded-full">
      <svg xmlns="http://www.w3.org/2000/svg" height="12px" viewBox="0 -960 960 960" width="12px" fill="currentColor">
        <path
          d="M480-200q-117 0-198.5-81.5T200-480q0-117 81.5-198.5T480-760q117 0 198.5 81.5T760-480q0 117-81.5 198.5T480-200Z" />
      </svg>
      Badge
    </tw-badge>
    <tw-badge className="bg-red-600 text-red-700 ring-red-300 rounded-full">
      <svg xmlns="http://www.w3.org/2000/svg" height="12px" viewBox="0 -960 960 960" width="12px" fill="currentColor">
        <path
          d="M480-200q-117 0-198.5-81.5T200-480q0-117 81.5-198.5T480-760q117 0 198.5 81.5T760-480q0 117-81.5 198.5T480-200Z" />
      </svg>
      Badge
    </tw-badge>
    <tw-badge className="bg-yellow-600 text-yellow-800 ring-yellow-300 rounded-full">
      <svg xmlns="http://www.w3.org/2000/svg" height="12px" viewBox="0 -960 960 960" width="12px" fill="currentColor">
        <path
          d="M480-200q-117 0-198.5-81.5T200-480q0-117 81.5-198.5T480-760q117 0 198.5 81.5T760-480q0 117-81.5 198.5T480-200Z" />
      </svg>
      Badge
    </tw-badge>
    <tw-badge className="bg-green-600 text-green-700 ring-green-300 rounded-full">
      <svg xmlns="http://www.w3.org/2000/svg" height="12px" viewBox="0 -960 960 960" width="12px" fill="currentColor">
        <path
          d="M480-200q-117 0-198.5-81.5T200-480q0-117 81.5-198.5T480-760q117 0 198.5 81.5T760-480q0 117-81.5 198.5T480-200Z" />
      </svg>
      Badge
    </tw-badge>
    <tw-badge className="bg-blue-600 text-blue-700 ring-blue-300 rounded-full">
      <svg xmlns="http://www.w3.org/2000/svg" height="12px" viewBox="0 -960 960 960" width="12px" fill="currentColor">
        <path
          d="M480-200q-117 0-198.5-81.5T200-480q0-117 81.5-198.5T480-760q117 0 198.5 81.5T760-480q0 117-81.5 198.5T480-200Z" />
      </svg>
      Badge
    </tw-badge>
    <tw-badge className="bg-indigo-600 text-indigo-700 ring-indigo-300 rounded-full">
      <svg xmlns="http://www.w3.org/2000/svg" height="12px" viewBox="0 -960 960 960" width="12px" fill="currentColor">
        <path
          d="M480-200q-117 0-198.5-81.5T200-480q0-117 81.5-198.5T480-760q117 0 198.5 81.5T760-480q0 117-81.5 198.5T480-200Z" />
      </svg>
      Badge
    </tw-badge>
    <tw-badge className="bg-purple-600 text-purple-700 ring-purple-300 rounded-full">
      <svg xmlns="http://www.w3.org/2000/svg" height="12px" viewBox="0 -960 960 960" width="12px" fill="currentColor">
        <path
          d="M480-200q-117 0-198.5-81.5T200-480q0-117 81.5-198.5T480-760q117 0 198.5 81.5T760-480q0 117-81.5 198.5T480-200Z" />
      </svg>
      Badge
    </tw-badge>
    <tw-badge className="bg-pink-600 text-pink-700 ring-pink-300 rounded-full">
      <svg xmlns="http://www.w3.org/2000/svg" height="12px" viewBox="0 -960 960 960" width="12px" fill="currentColor">
        <path
          d="M480-200q-117 0-198.5-81.5T200-480q0-117 81.5-198.5T480-760q117 0 198.5 81.5T760-480q0 117-81.5 198.5T480-200Z" />
      </svg>
      Badge
    </tw-badge>
  </div>

  <div>
    <div class="absolute -top-10 -left-0 text-black dark:text-white border-none p-0 font-semibold">
      Rounded with leading icon and border
    </div>
    <tw-badge className="text-gray-600 ring-1 ring-gray-300 rounded-full">
      <svg xmlns="http://www.w3.org/2000/svg" height="12px" viewBox="0 -960 960 960" width="12px" fill="currentColor">
        <path
          d="M480-200q-117 0-198.5-81.5T200-480q0-117 81.5-198.5T480-760q117 0 198.5 81.5T760-480q0 117-81.5 198.5T480-200Z" />
      </svg>
      Badge
    </tw-badge>
    <tw-badge className="text-red-700 ring-1 ring-red-300 rounded-full">
      <svg xmlns="http://www.w3.org/2000/svg" height="12px" viewBox="0 -960 960 960" width="12px" fill="currentColor">
        <path
          d="M480-200q-117 0-198.5-81.5T200-480q0-117 81.5-198.5T480-760q117 0 198.5 81.5T760-480q0 117-81.5 198.5T480-200Z" />
      </svg>
      Badge
    </tw-badge>
    <tw-badge className="text-yellow-800 ring-1 ring-yellow-300 rounded-full">
      <svg xmlns="http://www.w3.org/2000/svg" height="12px" viewBox="0 -960 960 960" width="12px" fill="currentColor">
        <path
          d="M480-200q-117 0-198.5-81.5T200-480q0-117 81.5-198.5T480-760q117 0 198.5 81.5T760-480q0 117-81.5 198.5T480-200Z" />
      </svg>
      Badge
    </tw-badge>
    <tw-badge className="text-green-700 ring-1 ring-green-300 rounded-full">
      <svg xmlns="http://www.w3.org/2000/svg" height="12px" viewBox="0 -960 960 960" width="12px" fill="currentColor">
        <path
          d="M480-200q-117 0-198.5-81.5T200-480q0-117 81.5-198.5T480-760q117 0 198.5 81.5T760-480q0 117-81.5 198.5T480-200Z" />
      </svg>
      Badge
    </tw-badge>
    <tw-badge className="text-blue-700 ring-1 ring-blue-300 rounded-full">
      <svg xmlns="http://www.w3.org/2000/svg" height="12px" viewBox="0 -960 960 960" width="12px" fill="currentColor">
        <path
          d="M480-200q-117 0-198.5-81.5T200-480q0-117 81.5-198.5T480-760q117 0 198.5 81.5T760-480q0 117-81.5 198.5T480-200Z" />
      </svg>
      Badge
    </tw-badge>
    <tw-badge className="text-indigo-700 ring-1 ring-indigo-300 rounded-full">
      <svg xmlns="http://www.w3.org/2000/svg" height="12px" viewBox="0 -960 960 960" width="12px" fill="currentColor">
        <path
          d="M480-200q-117 0-198.5-81.5T200-480q0-117 81.5-198.5T480-760q117 0 198.5 81.5T760-480q0 117-81.5 198.5T480-200Z" />
      </svg>
      Badge
    </tw-badge>
    <tw-badge className="text-purple-700 ring-1 ring-purple-300 rounded-full">
      <svg xmlns="http://www.w3.org/2000/svg" height="12px" viewBox="0 -960 960 960" width="12px" fill="currentColor">
        <path
          d="M480-200q-117 0-198.5-81.5T200-480q0-117 81.5-198.5T480-760q117 0 198.5 81.5T760-480q0 117-81.5 198.5T480-200Z" />
      </svg>
      Badge
    </tw-badge>
    <tw-badge className="text-pink-700 ring-1 ring-pink-300 rounded-full">
      <svg xmlns="http://www.w3.org/2000/svg" height="12px" viewBox="0 -960 960 960" width="12px" fill="currentColor">
        <path
          d="M480-200q-117 0-198.5-81.5T200-480q0-117 81.5-198.5T480-760q117 0 198.5 81.5T760-480q0 117-81.5 198.5T480-200Z" />
      </svg>
      Badge
    </tw-badge>
  </div>

  <div>
    <div class="absolute -top-10 -left-0 text-black dark:text-white border-none p-0 font-semibold">
      With action button
    </div>
    <tw-badge className="bg-gray-600 text-gray-600 ring-gray-300 rounded-none">
      Badge
      <button class="hover:bg-gray-600 hover:bg-opacity-20 size-[16px]">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="m291-240-51-51 189-189-189-189 51-51 189 189 189-189 51 51-189 189 189 189-51 51-189-189-189 189Z" />
        </svg>
      </button>
    </tw-badge>
    <tw-badge className="bg-red-600 text-red-700 ring-red-300 rounded-none">
      Badge
      <button class="hover:bg-red-600 hover:bg-opacity-20 size-[16px]">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="m291-240-51-51 189-189-189-189 51-51 189 189 189-189 51 51-189 189 189 189-51 51-189-189-189 189Z" />
        </svg>
      </button>
    </tw-badge>
    <tw-badge className="bg-yellow-600 text-yellow-800 ring-yellow-300 rounded-none">
      Badge
      <button class="hover:bg-yellow-600 hover:bg-opacity-20 size-[16px]">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="m291-240-51-51 189-189-189-189 51-51 189 189 189-189 51 51-189 189 189 189-51 51-189-189-189 189Z" />
        </svg>
      </button>
    </tw-badge>
    <tw-badge className="bg-green-600 text-green-700 ring-green-300 rounded-none">
      Badge
      <button class="hover:bg-green-600 hover:bg-opacity-20 size-[16px]">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="m291-240-51-51 189-189-189-189 51-51 189 189 189-189 51 51-189 189 189 189-51 51-189-189-189 189Z" />
        </svg>
      </button>
    </tw-badge>
    <tw-badge className="bg-blue-600 text-blue-700 ring-blue-300 rounded-none">
      Badge
      <button class="hover:bg-blue-600 hover:bg-opacity-20 size-[16px]">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="m291-240-51-51 189-189-189-189 51-51 189 189 189-189 51 51-189 189 189 189-51 51-189-189-189 189Z" />
        </svg>
      </button>
    </tw-badge>
    <tw-badge className="bg-indigo-600 text-indigo-700 ring-indigo-300 rounded-none">
      Badge
      <button class="hover:bg-indigo-600 hover:bg-opacity-20 size-[16px]">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="m291-240-51-51 189-189-189-189 51-51 189 189 189-189 51 51-189 189 189 189-51 51-189-189-189 189Z" />
        </svg>
      </button>
    </tw-badge>
  </div>

  <div>
    <div class="absolute -top-10 -left-0 text-black dark:text-white border-none p-0 font-semibold">
      With action button and border
    </div>
    <tw-badge className="bg-gray-600 text-gray-600 ring-gray-300 ring-1 rounded-none">
      Badge
      <button class="hover:bg-gray-600 hover:bg-opacity-20 size-[16px]">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="m291-240-51-51 189-189-189-189 51-51 189 189 189-189 51 51-189 189 189 189-51 51-189-189-189 189Z" />
        </svg>
      </button>
    </tw-badge>
    <tw-badge className="bg-red-600 text-red-700 ring-red-300 ring-1 rounded-none">
      Badge
      <button class="hover:bg-red-600 hover:bg-opacity-20 size-[16px]">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="m291-240-51-51 189-189-189-189 51-51 189 189 189-189 51 51-189 189 189 189-51 51-189-189-189 189Z" />
        </svg>
      </button>
    </tw-badge>
    <tw-badge className="bg-yellow-600 text-yellow-800 ring-yellow-300 ring-1 rounded-none">
      Badge
      <button class="hover:bg-yellow-600 hover:bg-opacity-20 size-[16px]">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="m291-240-51-51 189-189-189-189 51-51 189 189 189-189 51 51-189 189 189 189-51 51-189-189-189 189Z" />
        </svg>
      </button>
    </tw-badge>
    <tw-badge className="bg-green-600 text-green-700 ring-green-300 ring-1 rounded-none">
      Badge
      <button class="hover:bg-green-600 hover:bg-opacity-20 size-[16px]">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="m291-240-51-51 189-189-189-189 51-51 189 189 189-189 51 51-189 189 189 189-51 51-189-189-189 189Z" />
        </svg>
      </button>
    </tw-badge>
    <tw-badge className="bg-blue-600 text-blue-700 ring-blue-300 ring-1 rounded-none">
      Badge
      <button class="hover:bg-blue-600 hover:bg-opacity-20 size-[16px]">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="m291-240-51-51 189-189-189-189 51-51 189 189 189-189 51 51-189 189 189 189-51 51-189-189-189 189Z" />
        </svg>
      </button>
    </tw-badge>
    <tw-badge className="bg-indigo-600 text-indigo-700 ring-indigo-300 ring-1 rounded-none">
      Badge
      <button class="hover:bg-indigo-600 hover:bg-opacity-20 size-[16px]">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="m291-240-51-51 189-189-189-189 51-51 189 189 189-189 51 51-189 189 189 189-51 51-189-189-189 189Z" />
        </svg>
      </button>
    </tw-badge>
  </div>
</div>
