@import 'highlightjs.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-corner {
  width: 10px;
}

/* scrollbar track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  width: 5px;
}

/* scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}
