<div
  class="container w-full sm:max-w-lg md:max-w-3xl mx-auto p-6 text-gray-700 dark:text-gray-200 *:gap-4 *:border-black/[.10] *:dark:border-white/[.10]">
  <h1 class="text-3xl border-none font-extrabold my-8 mt-16">
    Buttons
  </h1>
  <p class="text-pretty">
    Use these Tailwind CSS button components to surface the different actions someone can perform in your interface.
  </p>

  <h2 class="text-lg font-semibold mt-12">
    Primary buttons
  </h2>
  <p class="text-pretty">
    Primary buttons have the most visual impact after the FAB, and should be used for important, final actions that
    complete
    a flow, like Save, Join now, or Confirm.
  </p>
  <div
    class="grid sm:flex border justify-center items-end m-6 mb-0 p-6 py-10 mx-auto *:mx-auto rounded-xl rounded-b-none bg-white dark:bg-[#1E1E1E]">
    <tw-button size="sm">Button text</tw-button>
    <tw-button> Button text </tw-button>
    <tw-button size="lg"> Button text </tw-button>
  </div>
  <demo-code-snippet [code]="primaryButton"></demo-code-snippet>

  <h2 class="text-lg font-semibold mt-20">
    Secondary buttons
  </h2>
  <p class="text-pretty">
    Outlined buttons are medium-emphasis buttons. They contain actions that are important, but aren’t the primary action
    in an app.
  </p>
  <div
    class="grid sm:flex border justify-center items-end m-6 mb-0 p-6 py-10 mx-auto *:mx-auto rounded-xl rounded-b-none bg-white dark:bg-[#1E1E1E]">
    <tw-button variant="secondary" size="sm">Button text </tw-button>
    <tw-button variant="secondary"> Button text </tw-button>
    <tw-button variant="secondary" size="lg"> Button text </tw-button>
  </div>
  <demo-code-snippet [code]="secondaryButton"></demo-code-snippet>


  <h2 class="text-lg font-semibold mt-20">
    Tonal buttons
  </h2>
  <p class="text-pretty">
    A tonal button is an alternative middle ground between primary and secondary buttons. They’re useful in contexts
    where a lower-priority button requires slightly more emphasis than a secondary would give, such as "Next" in an
    onboarding flow.
  </p>
  <div
    class="grid sm:flex border justify-center items-end m-6 mb-0 p-6 py-10 mx-auto *:mx-auto rounded-xl rounded-b-none bg-white dark:bg-[#1E1E1E]">
    <tw-button variant="tonal" size="sm">Button text </tw-button>
    <tw-button variant="tonal"> Button text </tw-button>
    <tw-button variant="tonal" size="lg"> Button text </tw-button>
  </div>
  <demo-code-snippet [code]="tonalButton"></demo-code-snippet>

  <h2 class="text-lg font-semibold mt-20">
    Text buttons
  </h2>
  <p class="text-pretty">
    Text buttons are used for the lowest priority actions, especially when presenting multiple options.
  </p>
  <div
    class="grid sm:flex border justify-center items-end m-6 mb-0 p-6 py-10 mx-auto *:mx-auto rounded-xl rounded-b-none bg-white dark:bg-[#1E1E1E]">
    <tw-button variant="text" size="sm">Button text </tw-button>
    <tw-button variant="text"> Button text </tw-button>
    <tw-button variant="text" size="lg"> Button text </tw-button>
  </div>
  <demo-code-snippet [code]="textButton"></demo-code-snippet>

  <h2 class="text-lg font-semibold mt-20">
    Icon buttons
  </h2>
  <p class="text-pretty">
    Icon buttons help people take minor actions with one tap
  </p>
  <div
    class="grid border justify-stretch *:flex *:gap-4 *:items-end *:justify-center m-6 p-6 py-10 mx-auto *:*:mx-auto rounded-xl mb-0 rounded-b-none bg-white dark:bg-[#1E1E1E]">
    <!-- Primary -->
    <div>
      <tw-button tw-icon className="p-1 rounded-lg">
        <svg class="size-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="M444-444H240v-72h204v-204h72v204h204v72H516v204h-72v-204Z" />
        </svg>
      </tw-button>
      <tw-button tw-icon className="rounded-lg">
        <svg class="size-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="M444-444H240v-72h204v-204h72v204h204v72H516v204h-72v-204Z" />
        </svg>
      </tw-button>
      <tw-button tw-icon className="p-3 rounded-lg">
        <svg class="size-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="M446.67-446.67H200v-66.66h246.67V-760h66.66v246.67H760v66.66H513.33V-200h-66.66v-246.67Z" />
        </svg>
      </tw-button>
    </div>
    <!-- Secondary -->
    <div>
      <tw-button tw-icon variant="secondary" className="p-1 rounded-lg">
        <svg class="size-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="M444-444H240v-72h204v-204h72v204h204v72H516v204h-72v-204Z" />
        </svg>
      </tw-button>
      <tw-button tw-icon variant="secondary" className="rounded-lg">
        <svg class="size-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="M444-444H240v-72h204v-204h72v204h204v72H516v204h-72v-204Z" />
        </svg>
      </tw-button>
      <tw-button tw-icon variant="secondary" className="p-3 rounded-lg">
        <svg class="size-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="M446.67-446.67H200v-66.66h246.67V-760h66.66v246.67H760v66.66H513.33V-200h-66.66v-246.67Z" />
        </svg>
      </tw-button>
    </div>
    <!-- Tonal -->
    <div>
      <tw-button tw-icon variant="tonal" className="p-1 rounded-lg">
        <svg class="size-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="M444-444H240v-72h204v-204h72v204h204v72H516v204h-72v-204Z" />
        </svg>
      </tw-button>
      <tw-button tw-icon variant="tonal" className="rounded-lg">
        <svg class="size-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="M444-444H240v-72h204v-204h72v204h204v72H516v204h-72v-204Z" />
        </svg>
      </tw-button>
      <tw-button tw-icon variant="tonal" className="p-3 rounded-lg">
        <svg class="size-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="M446.67-446.67H200v-66.66h246.67V-760h66.66v246.67H760v66.66H513.33V-200h-66.66v-246.67Z" />
        </svg>
      </tw-button>
    </div>
    <!-- Text -->
    <div>
      <tw-button tw-icon variant="text" className="p-1">
        <svg class="size-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="M444-444H240v-72h204v-204h72v204h204v72H516v204h-72v-204Z" />
        </svg>
      </tw-button>
      <tw-button tw-icon variant="text" className="p-1">
        <svg class="size-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="M444-444H240v-72h204v-204h72v204h204v72H516v204h-72v-204Z" />
        </svg>
      </tw-button>
      <tw-button tw-icon variant="text" className="p-3">
        <svg class="size-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="M446.67-446.67H200v-66.66h246.67V-760h66.66v246.67H760v66.66H513.33V-200h-66.66v-246.67Z" />
        </svg>
      </tw-button>
    </div>
  </div>
  <demo-code-snippet [code]="iconButton"></demo-code-snippet>

  <h2 class="text-lg font-semibold mt-20">
    FAB
  </h2>
  <p class="text-pretty">
    Floating action buttons (FABs) help people take primary actions
  </p>
  <div
    class="grid border justify-stretch *:flex *:gap-4 *:items-end *:justify-center m-6 p-6 py-10 mx-auto *:*:mx-auto rounded-xl mb-0 rounded-b-none bg-white dark:bg-[#1E1E1E]">
    <!-- Primary -->
    <div>
      <tw-button tw-fab className="p-1 rounded-lg">
        <svg class="size-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="M444-444H240v-72h204v-204h72v204h204v72H516v204h-72v-204Z" />
        </svg>
      </tw-button>
      <tw-button tw-fab className="rounded-lg">
        <svg class="size-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="M444-444H240v-72h204v-204h72v204h204v72H516v204h-72v-204Z" />
        </svg>
      </tw-button>
      <tw-button tw-fab className="p-3 rounded-lg">
        <svg class="size-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="M446.67-446.67H200v-66.66h246.67V-760h66.66v246.67H760v66.66H513.33V-200h-66.66v-246.67Z" />
        </svg>
      </tw-button>
    </div>
    <!-- Secondary -->
    <div>
      <tw-button tw-fab variant="secondary" className="p-1 rounded-lg">
        <svg class="size-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="M444-444H240v-72h204v-204h72v204h204v72H516v204h-72v-204Z" />
        </svg>
      </tw-button>
      <tw-button tw-fab variant="secondary" className="rounded-lg">
        <svg class="size-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="M444-444H240v-72h204v-204h72v204h204v72H516v204h-72v-204Z" />
        </svg>
      </tw-button>
      <tw-button tw-fab variant="secondary" className="p-3 rounded-lg">
        <svg class="size-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="M446.67-446.67H200v-66.66h246.67V-760h66.66v246.67H760v66.66H513.33V-200h-66.66v-246.67Z" />
        </svg>
      </tw-button>
    </div>
    <!-- Tonal -->
    <div>
      <tw-button tw-fab variant="tonal" className="p-1 rounded-lg">
        <svg class="size-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="M444-444H240v-72h204v-204h72v204h204v72H516v204h-72v-204Z" />
        </svg>
      </tw-button>
      <tw-button tw-fab variant="tonal" className="rounded-lg">
        <svg class="size-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="M444-444H240v-72h204v-204h72v204h204v72H516v204h-72v-204Z" />
        </svg>
      </tw-button>
      <tw-button tw-fab variant="tonal" className="p-3 rounded-lg">
        <svg class="size-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="M446.67-446.67H200v-66.66h246.67V-760h66.66v246.67H760v66.66H513.33V-200h-66.66v-246.67Z" />
        </svg>
      </tw-button>
    </div>
    <!-- Text -->
    <div>
      <tw-button tw-fab variant="text" className="p-1 rounded-lg">
        <svg class="size-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="M444-444H240v-72h204v-204h72v204h204v72H516v204h-72v-204Z" />
        </svg>
      </tw-button>
      <tw-button tw-fab variant="text" className="rounded-lg">
        <svg class="size-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="M444-444H240v-72h204v-204h72v204h204v72H516v204h-72v-204Z" />
        </svg>
      </tw-button>
      <tw-button tw-fab variant="text" className="p-3 rounded-lg">
        <svg class="size-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="M446.67-446.67H200v-66.66h246.67V-760h66.66v246.67H760v66.66H513.33V-200h-66.66v-246.67Z" />
        </svg>
      </tw-button>
    </div>
  </div>
  <demo-code-snippet [code]="fab"></demo-code-snippet>

  <h2 class="text-lg font-semibold mt-20">
    Extended FAB
  </h2>
  <p class="text-pretty">
    Extended floating action buttons (extended FABs) help people take primary actions
  </p>
  <div
    class="grid border justify-stretch *:grid sm:*:flex *:gap-4 sm:*:items-end m-6 p-6 py-10 mx-auto *:*:mx-auto rounded-xl mb-0 rounded-b-none bg-white dark:bg-[#1E1E1E]">
    <!-- Primary -->
    <div>
      <tw-button tw-fab size="sm" className="p-1 px-3 rounded-lg">
        <svg class="size-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="M444-444H240v-72h204v-204h72v204h204v72H516v204h-72v-204Z" />
        </svg>
        New task
      </tw-button>
      <tw-button tw-fab className="px-6 rounded-lg">
        <svg class="size-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="M444-444H240v-72h204v-204h72v204h204v72H516v204h-72v-204Z" />
        </svg>
        New task
      </tw-button>
      <tw-button tw-fab size="lg" className="p-3 px-8 rounded-lg">
        <svg class="size-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="M446.67-446.67H200v-66.66h246.67V-760h66.66v246.67H760v66.66H513.33V-200h-66.66v-246.67Z" />
        </svg>
        New task
      </tw-button>
    </div>
    <!-- Secondary -->
    <div>
      <tw-button tw-fab size="sm" variant="secondary" className="p-1 px-3 rounded-lg">
        <svg class="size-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="M444-444H240v-72h204v-204h72v204h204v72H516v204h-72v-204Z" />
        </svg>
        New task
      </tw-button>
      <tw-button tw-fab variant="secondary" className="px-6 rounded-lg">
        <svg class="size-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="M444-444H240v-72h204v-204h72v204h204v72H516v204h-72v-204Z" />
        </svg>
        New task
      </tw-button>
      <tw-button tw-fab size="lg" variant="secondary" className="p-3 px-8 rounded-lg">
        <svg class="size-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="M446.67-446.67H200v-66.66h246.67V-760h66.66v246.67H760v66.66H513.33V-200h-66.66v-246.67Z" />
        </svg>
        New task
      </tw-button>
    </div>
    <!-- Tonal -->
    <div>
      <tw-button tw-fab size="sm" variant="tonal" className="p-1 px-3 rounded-lg">
        <svg class="size-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="M444-444H240v-72h204v-204h72v204h204v72H516v204h-72v-204Z" />
        </svg>
        New task
      </tw-button>
      <tw-button tw-fab variant="tonal" className="px-6 rounded-lg">
        <svg class="size-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="M444-444H240v-72h204v-204h72v204h204v72H516v204h-72v-204Z" />
        </svg>
        New task
      </tw-button>
      <tw-button tw-fab size="lg" variant="tonal" className="p-3 px-8 rounded-lg">
        <svg class="size-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="M446.67-446.67H200v-66.66h246.67V-760h66.66v246.67H760v66.66H513.33V-200h-66.66v-246.67Z" />
        </svg>
        New task
      </tw-button>
    </div>
    <!-- Text -->
    <div>
      <tw-button tw-fab size="sm" variant="text" className="p-1 px-3 rounded-lg">
        <svg class="size-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="M444-444H240v-72h204v-204h72v204h204v72H516v204h-72v-204Z" />
        </svg>
        New task
      </tw-button>
      <tw-button tw-fab variant="text" className="px-6 rounded-lg">
        <svg class="size-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="M444-444H240v-72h204v-204h72v204h204v72H516v204h-72v-204Z" />
        </svg>
        New task
      </tw-button>
      <tw-button tw-fab size="lg" variant="text" className="p-3 px-8 rounded-lg">
        <svg class="size-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="M446.67-446.67H200v-66.66h246.67V-760h66.66v246.67H760v66.66H513.33V-200h-66.66v-246.67Z" />
        </svg>
        New task
      </tw-button>
    </div>
  </div>
  <demo-code-snippet [code]="extentedFab"></demo-code-snippet>

  <h2 class="text-2xl font-bold mt-20">
    Rounded buttons
  </h2>

  <h2 class="text-lg font-semibold mt-12">
    Rounded primary buttons
  </h2>
  <p class="text-pretty">
    Primary buttons have the most visual impact after the FAB, and should be used for important, final actions that
    complete
    a flow, like Save, Join now, or Confirm.
  </p>
  <div
    class="grid sm:flex border justify-center items-end m-6 mb-0 p-6 py-10 mx-auto *:mx-auto rounded-xl rounded-b-none bg-white dark:bg-[#1E1E1E]">
    <tw-button className="rounded-full" size="sm">Button text</tw-button>
    <tw-button className="rounded-full"> Button text</tw-button>
    <tw-button className="rounded-full" size="lg"> Button text</tw-button>
  </div>
  <demo-code-snippet [code]="roundedPrimaryButton"></demo-code-snippet>

  <h2 class="text-lg font-semibold mt-20">
    Rounded secondary buttons
  </h2>
  <p class="text-pretty">
    Outlined buttons are medium-emphasis buttons. They contain actions that are important, but aren’t the primary action
    in an app.
  </p>
  <div
    class="grid sm:flex border justify-center items-end m-6 mb-0 p-6 py-10 mx-auto *:mx-auto rounded-xl rounded-b-none bg-white dark:bg-[#1E1E1E]">
    <tw-button className="rounded-full" variant="secondary" size="sm">Button text </tw-button>
    <tw-button className="rounded-full" variant="secondary"> Button text </tw-button>
    <tw-button className="rounded-full" variant="secondary" size="lg"> Button text </tw-button>
  </div>
  <demo-code-snippet [code]="roundedSecondaryButton"></demo-code-snippet>

  <h2 class="text-lg font-semibold mt-20">
    Rounded tonal buttons
  </h2>
  <p class="text-pretty">
    A tonal button is an alternative middle ground between primary and secondary buttons. They’re useful in contexts
    where a lower-priority button requires slightly more emphasis than a secondary would give, such as "Next" in an
    onboarding flow.
  </p>
  <div
    class="grid sm:flex border justify-center items-end m-6 mb-0 p-6 py-10 mx-auto *:mx-auto rounded-xl rounded-b-none bg-white dark:bg-[#1E1E1E]">
    <tw-button className="rounded-full" variant="tonal" size="sm">Button text </tw-button>
    <tw-button className="rounded-full" variant="tonal"> Button text </tw-button>
    <tw-button className="rounded-full" variant="tonal" size="lg"> Button text </tw-button>
  </div>
  <demo-code-snippet [code]="roundedTonalButton"></demo-code-snippet>

  <h2 class="text-lg font-semibold mt-20">
    Rounded icon buttons
  </h2>
  <p class="text-pretty">
    Icon buttons help people take minor actions with one tap
  </p>
  <div
    class="grid border justify-stretch *:flex *:gap-4 *:items-end *:justify-center m-6 p-6 py-10 mx-auto *:*:mx-auto rounded-xl mb-0 rounded-b-none bg-white dark:bg-[#1E1E1E]">
    <!-- Primary -->
    <div>
      <tw-button tw-icon className="p-1">
        <svg class="size-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="M444-444H240v-72h204v-204h72v204h204v72H516v204h-72v-204Z" />
        </svg>
      </tw-button>
      <tw-button tw-icon>
        <svg class="size-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="M444-444H240v-72h204v-204h72v204h204v72H516v204h-72v-204Z" />
        </svg>
      </tw-button>
      <tw-button tw-icon className="p-3">
        <svg class="size-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="M446.67-446.67H200v-66.66h246.67V-760h66.66v246.67H760v66.66H513.33V-200h-66.66v-246.67Z" />
        </svg>
      </tw-button>
    </div>
    <!-- Secondary -->
    <div>
      <tw-button tw-icon variant="secondary" className="p-1">
        <svg class="size-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="M444-444H240v-72h204v-204h72v204h204v72H516v204h-72v-204Z" />
        </svg>
      </tw-button>
      <tw-button tw-icon variant="secondary">
        <svg class="size-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="M444-444H240v-72h204v-204h72v204h204v72H516v204h-72v-204Z" />
        </svg>
      </tw-button>
      <tw-button tw-icon variant="secondary" className="p-3">
        <svg class="size-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="M446.67-446.67H200v-66.66h246.67V-760h66.66v246.67H760v66.66H513.33V-200h-66.66v-246.67Z" />
        </svg>
      </tw-button>
    </div>
    <!-- Tonal -->
    <div>
      <tw-button tw-icon variant="tonal" className="p-1">
        <svg class="size-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="M444-444H240v-72h204v-204h72v204h204v72H516v204h-72v-204Z" />
        </svg>
      </tw-button>
      <tw-button tw-icon variant="tonal">
        <svg class="size-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="M444-444H240v-72h204v-204h72v204h204v72H516v204h-72v-204Z" />
        </svg>
      </tw-button>
      <tw-button tw-icon variant="tonal" className="p-3">
        <svg class="size-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="M446.67-446.67H200v-66.66h246.67V-760h66.66v246.67H760v66.66H513.33V-200h-66.66v-246.67Z" />
        </svg>
      </tw-button>
    </div>
    <!-- Text -->
    <div>
      <tw-button tw-icon variant="text" className="p-1">
        <svg class="size-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="M444-444H240v-72h204v-204h72v204h204v72H516v204h-72v-204Z" />
        </svg>
      </tw-button>
      <tw-button tw-icon variant="text">
        <svg class="size-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="M444-444H240v-72h204v-204h72v204h204v72H516v204h-72v-204Z" />
        </svg>
      </tw-button>
      <tw-button tw-icon variant="text" className="p-3">
        <svg class="size-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="M446.67-446.67H200v-66.66h246.67V-760h66.66v246.67H760v66.66H513.33V-200h-66.66v-246.67Z" />
        </svg>
      </tw-button>
    </div>
  </div>
  <demo-code-snippet [code]="roundedIconButton"></demo-code-snippet>

  <h2 class="text-lg font-semibold mt-20">
    Rounded FAB
  </h2>
  <p class="text-pretty">
    Floating action buttons (FABs) help people take primary actions
  </p>
  <div
    class="grid border justify-stretch *:flex *:gap-4 *:items-end *:justify-center m-6 p-6 py-10 mx-auto *:*:mx-auto rounded-xl mb-0 rounded-b-none bg-white dark:bg-[#1E1E1E]">
    <!-- Primary -->
    <div>
      <tw-button tw-fab className="p-1">
        <svg class="size-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="M444-444H240v-72h204v-204h72v204h204v72H516v204h-72v-204Z" />
        </svg>
      </tw-button>
      <tw-button tw-fab>
        <svg class="size-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="M444-444H240v-72h204v-204h72v204h204v72H516v204h-72v-204Z" />
        </svg>
      </tw-button>
      <tw-button tw-fab className="p-3">
        <svg class="size-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="M446.67-446.67H200v-66.66h246.67V-760h66.66v246.67H760v66.66H513.33V-200h-66.66v-246.67Z" />
        </svg>
      </tw-button>
    </div>
    <!-- Secondary -->
    <div>
      <tw-button tw-fab variant="secondary" className="p-1">
        <svg class="size-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="M444-444H240v-72h204v-204h72v204h204v72H516v204h-72v-204Z" />
        </svg>
      </tw-button>
      <tw-button tw-fab variant="secondary">
        <svg class="size-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="M444-444H240v-72h204v-204h72v204h204v72H516v204h-72v-204Z" />
        </svg>
      </tw-button>
      <tw-button tw-fab variant="secondary" className="p-3">
        <svg class="size-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="M446.67-446.67H200v-66.66h246.67V-760h66.66v246.67H760v66.66H513.33V-200h-66.66v-246.67Z" />
        </svg>
      </tw-button>
    </div>
    <!-- Tonal -->
    <div>
      <tw-button tw-fab variant="tonal" className="p-1">
        <svg class="size-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="M444-444H240v-72h204v-204h72v204h204v72H516v204h-72v-204Z" />
        </svg>
      </tw-button>
      <tw-button tw-fab variant="tonal">
        <svg class="size-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="M444-444H240v-72h204v-204h72v204h204v72H516v204h-72v-204Z" />
        </svg>
      </tw-button>
      <tw-button tw-fab variant="tonal" className="p-3">
        <svg class="size-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="M446.67-446.67H200v-66.66h246.67V-760h66.66v246.67H760v66.66H513.33V-200h-66.66v-246.67Z" />
        </svg>
      </tw-button>
    </div>
    <!-- Text -->
    <div>
      <tw-button tw-fab variant="text" className="p-1">
        <svg class="size-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="M444-444H240v-72h204v-204h72v204h204v72H516v204h-72v-204Z" />
        </svg>
      </tw-button>
      <tw-button tw-fab variant="text">
        <svg class="size-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="M444-444H240v-72h204v-204h72v204h204v72H516v204h-72v-204Z" />
        </svg>
      </tw-button>
      <tw-button tw-fab variant="text" className="p-3">
        <svg class="size-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="M446.67-446.67H200v-66.66h246.67V-760h66.66v246.67H760v66.66H513.33V-200h-66.66v-246.67Z" />
        </svg>
      </tw-button>
    </div>
  </div>
  <demo-code-snippet [code]="roundedFab"></demo-code-snippet>

  <h2 class="text-lg font-semibold mt-20">
    Extended FAB
  </h2>
  <p class="text-pretty">
    Extended floating action buttons (extended FABs) help people take primary actions
  </p>
  <div
    class="grid border justify-stretch *:grid sm:*:flex *:gap-4 sm:*:items-end m-6 p-6 py-10 mx-auto *:*:mx-auto rounded-xl mb-0 rounded-b-none bg-white dark:bg-[#1E1E1E]">
    <!-- Primary -->
    <div>
      <tw-button tw-fab size="sm" className="p-1 px-3">
        <svg class="size-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="M444-444H240v-72h204v-204h72v204h204v72H516v204h-72v-204Z" />
        </svg>
        New task
      </tw-button>
      <tw-button tw-fab className="px-6">
        <svg class="size-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="M444-444H240v-72h204v-204h72v204h204v72H516v204h-72v-204Z" />
        </svg>
        New task
      </tw-button>
      <tw-button tw-fab size="lg" className="p-3 px-8">
        <svg class="size-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="M446.67-446.67H200v-66.66h246.67V-760h66.66v246.67H760v66.66H513.33V-200h-66.66v-246.67Z" />
        </svg>
        New task
      </tw-button>
    </div>
    <!-- Secondary -->
    <div>
      <tw-button tw-fab size="sm" variant="secondary" className="p-1 px-3">
        <svg class="size-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="M444-444H240v-72h204v-204h72v204h204v72H516v204h-72v-204Z" />
        </svg>
        New task
      </tw-button>
      <tw-button tw-fab variant="secondary" className="px-6">
        <svg class="size-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="M444-444H240v-72h204v-204h72v204h204v72H516v204h-72v-204Z" />
        </svg>
        New task
      </tw-button>
      <tw-button tw-fab size="lg" variant="secondary" className="p-3 px-8">
        <svg class="size-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="M446.67-446.67H200v-66.66h246.67V-760h66.66v246.67H760v66.66H513.33V-200h-66.66v-246.67Z" />
        </svg>
        New task
      </tw-button>
    </div>
    <!-- Tonal -->
    <div>
      <tw-button tw-fab size="sm" variant="tonal" className="p-1 px-3">
        <svg class="size-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="M444-444H240v-72h204v-204h72v204h204v72H516v204h-72v-204Z" />
        </svg>
        New task
      </tw-button>
      <tw-button tw-fab variant="tonal" className="px-6">
        <svg class="size-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="M444-444H240v-72h204v-204h72v204h204v72H516v204h-72v-204Z" />
        </svg>
        New task
      </tw-button>
      <tw-button tw-fab size="lg" variant="tonal" className="p-3 px-8">
        <svg class="size-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="M446.67-446.67H200v-66.66h246.67V-760h66.66v246.67H760v66.66H513.33V-200h-66.66v-246.67Z" />
        </svg>
        New task
      </tw-button>
    </div>
    <!-- Text -->
    <div>
      <tw-button tw-fab size="sm" variant="text" className="p-1 px-3">
        <svg class="size-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="M444-444H240v-72h204v-204h72v204h204v72H516v204h-72v-204Z" />
        </svg>
        New task
      </tw-button>
      <tw-button tw-fab variant="text" className="px-6">
        <svg class="size-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="M444-444H240v-72h204v-204h72v204h204v72H516v204h-72v-204Z" />
        </svg>
        New task
      </tw-button>
      <tw-button tw-fab size="lg" variant="text" className="p-3 px-8">
        <svg class="size-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
          <path d="M446.67-446.67H200v-66.66h246.67V-760h66.66v246.67H760v66.66H513.33V-200h-66.66v-246.67Z" />
        </svg>
        New task
      </tw-button>
    </div>
  </div>
  <demo-code-snippet [code]="roundedExtendedFab"></demo-code-snippet>
