<div
  class="container sm:max-w-lg md:max-w-xl mx-auto p-6 text-gray-700 dark:text-gray-200 *:gap-4 *:border-black/[.10] *:dark:border-white/[.10]">
  <h1 class="text-3xl border-none font-extrabold my-8 mt-16">
    Buttons
  </h1>
  <p class="text-pretty">
    Use these Tailwind CSS button components to surface the different actions someone can perform in your interface.
  </p>

  <h2 class="text-lg font-semibold mt-12">
    Primary buttons
  </h2>
  <div class="flex border justify-center items-end m-6 p-6 mx-auto rounded-xl">
    <tw-button size="sm">Button text</tw-button>
    <tw-button> Button text </tw-button>
    <tw-button size="lg"> Button text </tw-button>
  </div>

  <h2 class="text-lg font-semibold mt-20">
    Tonal buttons
  </h2>
  <div class="flex border justify-center items-end m-6 p-6 mx-auto rounded-xl">
    <tw-button variant="tonal" size="sm">Button text </tw-button>
    <tw-button variant="tonal"> Button text </tw-button>
    <tw-button variant="tonal" size="lg"> Button text </tw-button>
  </div>

  <h2 class="text-lg font-semibold mt-20">
    Secondary buttons
  </h2>
  <div class="flex border justify-center items-end m-6 p-6 mx-auto rounded-xl">
    <tw-button variant="secondary" size="sm">Button text </tw-button>
    <tw-button variant="secondary"> Button text </tw-button>
    <tw-button variant="secondary" size="lg"> Button text </tw-button>
  </div>

  <h2 class="text-lg font-semibold mt-20">
    Text buttons
  </h2>
  <div class="flex border justify-center items-end m-6 p-6 mx-auto rounded-xl resize-x cursor-move">
    <tw-button variant="text" size="sm">Button text </tw-button>
    <tw-button variant="text"> Button text </tw-button>
    <tw-button variant="text" size="lg"> Button text </tw-button>
  </div>

  <h2 class="text-lg font-semibold mt-20">
    Icon buttons
  </h2>
  <div class="grid border justify-center *:flex *:gap-4 *:items-end m-6 p-6 mx-auto rounded-xl">
    <!-- Primary -->
    <div>
      <tw-button size="sm" className="rounded-full px-1 py-1">
        <svg xmlns="http://www.w3.org/2000/svg" height="16px" viewBox="0 -960 960 960" width="16px" fill="currentColor">
          <path d="M444-444H240v-72h204v-204h72v204h204v72H516v204h-72v-204Z" />
        </svg>
      </tw-button>
      <tw-button className="rounded-full px-2 py-2">
        <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="currentColor">
          <path d="M444-444H240v-72h204v-204h72v204h204v72H516v204h-72v-204Z" />
        </svg>
      </tw-button>
      <tw-button size="lg" className="rounded-full px-2.5 py-2.5">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor">
          <path d="M446.67-446.67H200v-66.66h246.67V-760h66.66v246.67H760v66.66H513.33V-200h-66.66v-246.67Z" />
        </svg>
      </tw-button>
    </div>
    <!-- Tonal -->
    <div>
      <tw-button variant="tonal" size="sm" className="rounded-full px-1 py-1">
        <svg xmlns="http://www.w3.org/2000/svg" height="16px" viewBox="0 -960 960 960" width="16px" fill="currentColor">
          <path d="M444-444H240v-72h204v-204h72v204h204v72H516v204h-72v-204Z" />
        </svg>
      </tw-button>
      <tw-button variant="tonal" className="rounded-full px-2 py-2">
        <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="currentColor">
          <path d="M444-444H240v-72h204v-204h72v204h204v72H516v204h-72v-204Z" />
        </svg>
      </tw-button>
      <tw-button variant="tonal" size="lg" className="rounded-full px-2.5 py-2.5">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor">
          <path d="M446.67-446.67H200v-66.66h246.67V-760h66.66v246.67H760v66.66H513.33V-200h-66.66v-246.67Z" />
        </svg>
      </tw-button>
    </div>
    <!-- Secondary -->
    <div>
      <tw-button variant="secondary" size="sm" className="rounded-full px-1 py-1">
        <svg xmlns="http://www.w3.org/2000/svg" height="16px" viewBox="0 -960 960 960" width="16px" fill="currentColor">
          <path d="M444-444H240v-72h204v-204h72v204h204v72H516v204h-72v-204Z" />
        </svg>
      </tw-button>
      <tw-button variant="secondary" className="rounded-full px-2 py-2">
        <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="currentColor">
          <path d="M444-444H240v-72h204v-204h72v204h204v72H516v204h-72v-204Z" />
        </svg>
      </tw-button>
      <tw-button variant="secondary" size="lg" className="rounded-full px-2.5 py-2.5">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor">
          <path d="M446.67-446.67H200v-66.66h246.67V-760h66.66v246.67H760v66.66H513.33V-200h-66.66v-246.67Z" />
        </svg>
      </tw-button>
    </div>
    <!-- Text -->
    <div>
      <tw-button variant="text" size="sm" className="rounded-full px-1 py-1">
        <svg xmlns="http://www.w3.org/2000/svg" height="16px" viewBox="0 -960 960 960" width="16px" fill="currentColor">
          <path d="M444-444H240v-72h204v-204h72v204h204v72H516v204h-72v-204Z" />
        </svg>
      </tw-button>
      <tw-button variant="text" className="rounded-full px-2 py-2">
        <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="currentColor">
          <path d="M444-444H240v-72h204v-204h72v204h204v72H516v204h-72v-204Z" />
        </svg>
      </tw-button>
      <tw-button variant="text" size="lg" className="rounded-full px-2.5 py-2.5">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor">
          <path d="M446.67-446.67H200v-66.66h246.67V-760h66.66v246.67H760v66.66H513.33V-200h-66.66v-246.67Z" />
        </svg>
      </tw-button>
    </div>
  </div>

  <h2 class="text-2xl font-bold mt-20">
    Rounded buttons
  </h2>

  <h2 class="text-lg font-semibold mt-12">
    Rounded primary buttons
  </h2>
  <div class="flex border justify-center items-end m-6 p-6 mx-auto rounded-xl">
    <tw-button className="rounded-full" size="sm">Button text</tw-button>
    <tw-button className="rounded-full"> Button text</tw-button>
    <tw-button className="rounded-full" size="lg"> Button text</tw-button>
  </div>

  <h2 class="text-lg font-semibold mt-20">
    Rounded tonal buttons
  </h2>
  <div class="flex border justify-center items-end m-6 p-6 mx-auto rounded-xl">
    <tw-button className="rounded-full" variant="tonal" size="sm">Button text </tw-button>
    <tw-button className="rounded-full" variant="tonal"> Button text </tw-button>
    <tw-button className="rounded-full" variant="tonal" size="lg"> Button text </tw-button>
  </div>

  <h2 class="text-lg font-semibold mt-20">
    Rounded secondary buttons
  </h2>
  <div class="flex border justify-center items-end m-6 p-6 mx-auto rounded-xl">
    <tw-button className="rounded-full" variant="secondary" size="sm">Button text </tw-button>
    <tw-button className="rounded-full" variant="secondary"> Button text </tw-button>
    <tw-button className="rounded-full" variant="secondary" size="lg"> Button text </tw-button>
  </div>
